[2016-06-21 20:18] collinhundley opened #3 "Building in Xcode"
As mentioned in the docs, on macOS you have to specify the location of the MySQL C library when building. Can these flags also be passed to the linker from within Xcode?

[2016-06-21 20:48] collinhundley commented on #3
Never mind, finally figured it out. Adding the paths to `Header Search Paths` and `Library Search Paths` in the MySQL target did the trick.

[2016-06-21 20:48] #3 closed

[2016-06-21 23:14] collinhundley opened #4 "Connection thread safety?"
In the README it says this:

`... a single connection cannot be used on more than one thread`

But in the documentation for `Database.makeConnection()` it says:

`Creates a new thread-safe connection to the database that can be reused between executions.`

Is `Connection` thread safe or is it not? The fact that `makeConnection()` is called before each query by defaults suggests that it probably is

[2016-06-22 02:06] bspringston opened #5 "Fully qualified table names"
The table name used in the SQL statements needs to include the database name from the initialization settings.  For example, if the MySql database name is test, then select from users SQL statement would look like SELECT \* FROM test.users

[2016-06-22 02:10] bspringston opened #6 "Xcode build settings"
It would help out if documentation explained how to set the build settings to run the from inside Xcode.  In Xcode, under Basic build settings, set "Header Search Paths" to /usr/local/include/mysql and set "Library Search Paths" to /usr/local/lib.

[2016-06-22 04:21] tannernelson commented on #4
The documentation for that method could be a little bit better. I will update it.

Basically MySQL only supports one connection per thread. So if your app is not multithreaded, just create one connection using makeConnection and then pass that as the third parameter to all of your calls. Or, you can make a new connection for each thread and reuse that connection in the thread.

The reason I chose

[2016-06-22 04:23] tannernelson commented on #5
Thanks for the feedback! This should be an easy change to make if you want to do the PR and be listed as a contributor.

Otherwise I can get to it tomorrow. :)

[2016-06-22 04:26] tannernelson commented on #6
Oh I forgot to include that!

You can run this to generate the project with that already added:

[code]

If it also complains about header paths, you can add those with `-Xswiftc` and `-I/usr/local/include/mysql`

Let me know if any of those work for you and we can add to the docs. My computer has a million different versions of MySQL installed so it's hard to tell what will work if you only insta

[2016-06-22 04:28] tannernelson commented on #3
This is related to #6

[2016-06-22 05:57] collinhundley commented on #5
Is this just a matter of preference? I'm using the table name alone in my statements and it works great.

[2016-06-22 06:22] collinhundley commented on #4
That makes sense. However, I definitely think it's important to support multithreading without having to reconnect constantly. Most web servers written in Swift will be multithreaded, so I'm sure it's a common requirement.

Connection pooling seems like the logical solution. You say that using the same connection on multiple threads will cause a crash... I'm assuming by that you mean *unsynchroniz

[2016-06-23 00:06] collinhundley opened #7 "value enum convenience accessors"
What's the reasoning behind the use of enum `Value` here vs. protocol `Value` [in Fluent](https://github.com/qutheory/fluent/blob/master/Sources/Fluent/Model/Value.swift)?

Parsing database results returned as enums is a pain - do I really have to `switch` on every entry in order to bind a variable to the correct type, or is there a better way to handle this?

Example:

[code]

[2016-06-23 01:06] bspringston commented on #6
This didn't work for me.  I still have to manually add the build settings in Xcode after generating the Xcode project

[2016-06-23 01:07] bspringston commented on #5
It matters when you have multiple schemas in MySQL.

[2016-06-25 05:04] edwd commented on #5
As long as you are querying a table from the schema specified in the connection initialization, there should be no need to fully qualify the table name as you suggest. According to the documentation of the underlying MySQL API function used to create the connection (http://dev.mysql.com/doc/refman/5.7/en/mysql-real-connect.html):

 - `db` is the database name. If `db` is not `NULL`, the connection

[2016-07-11 20:47] tannernelson commented on #4
Yes, I do mean unsynchronized access. I agree it should be easy to re-use the same connection, but I also think it should remain the default to create a new connection. Unless we use GCD internally to synchronize access. But I think that is beyond the scope of this simple wrapper.

[2016-07-11 20:49] tannernelson commented on #7
You can add an extension to make casting easier. This should probably be included in the main repo.

Like this:
[code]

[2016-07-21 17:06] king33 opened #10 "Data gets corrupted in driver"
I'm running todobackend tests against my local installation of MySQL.

State of the todos table before tests begin:

`mysql> select * from todos;
Empty set (0.00 sec)
`

First insert into the table looks good, title="walk the dog".  Breaking at getAll and looking at results from a select:

![mysql-first-insert](https://cloud.githubusercontent.com/assets/14813248/17031475/04b5453a-4f3a-11e6-863e-be

[2016-07-21 17:16] tannernelson commented on #10
Thanks for reporting this @king33. Could you paste the code snippets that are leading to this? I'm curious as to whether you are re-using the same connection for each request or spawning new connections. Seeing that code would help a lot.

If at all possible you could fork `qutheory/mysql` and create a failing test case that you submit as a PR, that would help me nip this problem in the bud the qu

[2016-07-21 17:59] king33 commented on #10
Hey, sure, np. I'm creating a new database and connection for every execute and re-using a connection in add to insert and select last_insert_id().

[code]

[2016-07-22 01:34] tannernelson commented on #10
I think this PR should do the trick: https://github.com/qutheory/mysql/pull/11

[2016-07-22 15:33] #10 closed

[2016-07-22 15:59] rfdickerson commented on #10
We are getting a crash inside of the defer statement that closes the connection.

<img width="800" alt="screen shot 2016-07-22 at 10 55 00 am" src="https://cloud.githubusercontent.com/assets/1310293/17063094/481c1594-4ffb-11e6-953d-2907cad6162f.png">

This is invoked from our:

<img width="801" alt="screen shot 2016-07-22 at 10 55 12 am" src="https://cloud.githubusercontent.com/assets/1310293/1706

[2016-07-22 17:13] tannernelson commented on #10
Are you sure this is related to the fix from #11?

[2016-07-22 17:45] rfdickerson commented on #10
It seems to emerge only after we update to the fix. You seeing the same thing, @king33 ?

[2016-07-22 18:57] tannernelson commented on #10
The code added in #11 _should_ only affect the parsing of values from `libmysql`. I do not believe it is used at all for the serialization of those values.

It also looks like the query you pasted is doing manual string interpolation which could be causing that.

I'm working on an update right now that brings in our `qutheory/core` package. This will make the libmysql <--> swift MySQL conversions

[2016-07-26 15:08] king33 commented on #10
Hi Tanner, I just wanted to touch base on this. I'm happy to test your update when it's ready. Thank you.

[2016-07-26 15:28] tannernelson commented on #10
`0.2.4` should have the update for which this thread was started. Are you seeing a new bug?

[2016-07-26 15:49] king33 commented on #10
I am seeing the crash that @rfdickerson describes above, it's a separate issue.  We both saw that with 0.2.4.

[2016-07-26 17:01] tannernelson commented on #10
Could you create a new issue for it? Then we can see if it is still happening in `0.3.0` which should be released very soon.

[2016-07-26 17:15] tannernelson commented on #10
MySQL 0.3 has been released:
https://github.com/qutheory/mysql/releases/tag/0.3.0

[2016-07-29 20:54] shanezilla opened #13 "MySQL date types are returned as NULL"
Data returned as a result from an SQL select statement contains MySQL.Value.null for any fields of type DATE or TIME.

Inserting data into the db using a formatted date string as the value for a date field, using .string() in the appropriate prepared statement values, works just fine. But getting that data back out of the db results in MySQL.Value.null for those fields.

[2016-07-29 22:13] tannernelson commented on #13
Thanks for reporting, this should be a relatively easy fix. (possibly you want to try your hand?)

[2016-07-30 05:45] #7 closed

[2016-07-30 05:46] tannernelson commented on #6
If you use the [Vapor Toolbox](https://github.com/qutheory/vapor-toolbox) you can do `vapor xcode --mysql`

[2016-07-30 05:46] #6 closed

[2016-07-30 06:29] tannernelson commented on #13
This should be fixed in 0.3.1.

[2016-07-30 06:29] #13 closed

[2016-08-02 12:01] faklyasgyuri opened #15 "Unable to invoke subcommands"
Hi!
I followed your installation guide, installed and link successfully mysql, etc. But after I run this command> swift build -Xswiftc -I/usr/local/include/mysql -Xlinker -L/usr/local/lib
I get the following error message > error: unable to invoke subcommand: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift-build (No such file or directory)
How can I sol

[2016-08-02 14:55] tannernelson commented on #15
That means you are using Swift 2.

I made a tutorial here for getting started with Vapor, it would help with this package, too.

https://www.youtube.com/watch?v=YxvQo-EH2AA

[2016-08-02 14:55] #15 closed

[2016-08-02 19:46] LoganWright opened #17 "Return `[Node]` over `[[String: Node]]`"
On database executions, I think an array of nodes might be preferable:

Pros:

- can easily map to node initializable types

Cons:

- might not be obvious that underlying nodes are objects

Wondering if anyone else has opinions.

[2016-08-03 06:07] collinhundley opened #18 "TINYINT not recognized"
I haven't been able to look into the reason yet, but the MySQL `TINYINT` type does not appear to be supported. When performing a `SELECT`, any fields of type `TINYINT` get returned as `Value.null`.

[2016-08-03 14:38] tannernelson commented on #18
This is related to #16

[2016-08-05 20:20] tannernelson opened #22 "intermittent crash on `mysql_close` when using DATE, TIME, or DATETIME"

[2016-08-05 21:03] #18 closed

[2016-08-06 04:44] collinhundley opened #25 "Unicode characters with bytes greater than 127 cause crash"
The `Char` type used in `Bind.swift` is an `Int8`, which only supports values up to 127. So, attempting to store any Unicode characters higher than this causes a crash. The crash occurs at line 71 in `Bind.swift`, while attempting to initialize a `Char` from a single byte if the byte's value is over 127.

Is there any reason `Char` can't be something bigger? `Int32` should support all Unicode char

[2016-08-06 15:11] tannernelson commented on #25
If you could submit a test case where this fails, that would help a ton.

Otherwise I will investigate this on the next update.

[2016-08-07 03:17] collinhundley commented on #25
Here's how to reproduce the issue:

[code]

This crashes at the following line in `Bind.swift`:

[code]

Because it's attempting to cast a decimal value of 200 into an `Int8`.

[2016-08-08 05:30] collinhundley commented on #25
Note: changing the `Char` typealias from `Int8` to `Int32` appears to fix the problem. I'd submit a PR but I've modified my fork for MariaDB compatibility. Which I'd love to talk about by the way, but that's another topic.

[2016-08-08 10:48] faklyasgyuri opened #26 "is it possible to use this mySQL wrapper in iPhone application?"
Hi!
I dealed some time with vapor, spm and these stuffs which are new for me, but I think first I had to ask this question. Can I remote mySQL database from iPhone app with this wrapper or is it just for Desktop applications? Because I've read about this on many sites, that connect to a MySQL database with iPhone it's not safe, and not recommended, and everyone recommend to write php scripts to re

[2016-08-08 15:02] tannernelson commented on #26
I don't know for sure, but my assumption would be that Apple would reject an app that links `libmysqlclient` if it were even possible. What you want to do here is something similar to `vapor/university` (you should check that repo out!).

Basically, you create the following packages:

- Package Server/API (MySQL): Returns data from MySQL as JSON
- Package Client: Accepts JSON API and converts to M

[2016-08-09 06:07] collinhundley commented on #25
UPDATE: Sorry to keep pestering about this, but I believe it's a big flaw in this library that should be addressed. I had a little more time to dig into it today, and I believe that the solution is simple.

My previous comment about changing `Char` to `Int32` was incorrect. Instead, I believe that `Char` should be a typealias for `UInt8`. The `utf8` property of Swift's `String` returns a `UTF8View

[2016-08-11 05:43] collinhundley commented on #25
Fixed with PR #27

[2016-08-11 05:43] #25 closed

[2016-08-12 01:35] vdka opened #28 "MySQL Fluent Driver not returning elements"
[code]
where the DB is defined with
[code]

`Package.swift`
[code]

[2016-08-13 09:26] lycaste opened #29 "could not compile mysql"
[the same problem](https://github.com/vapor/vapor/issues/525)

 swift build -Xswiftc -I/usr/local/mysql/include -Xlinker -L/usr/local/mysql/lib

[code]

[2016-08-13 22:31] collinhundley commented on #29
You need to pass the `-DNOJSON` flag to the swift compiler:

[code]

Only certain versions of MySQL support the `JSON` type, so if you're not using one of those versions you need to tell this package to ignore it.

[2016-08-15 21:39] tannernelson commented on #28
Try
[code]

This should happen automatically if you're passing the `User` as a preparation.

[2016-08-15 21:40] #29 closed

[2016-08-16 00:43] vdka commented on #28
I think maybe I am using the Provider correctly.

[code]

[2016-08-16 15:54] tannernelson commented on #28
[code]

But looks like your other code is correct. Are any error messages being printed out? It's likely that the user isn't able to be initialized because of missing values in the table.

[2016-08-16 16:07] vdka commented on #28
[code]
😕
I am definitely supposed to use `vapor-mysql` not anything else?

[2016-08-16 16:42] tannernelson commented on #28
`vapor-mysql` should be `mysql-provider`.

This has some more information about the difference between providers and drivers: https://vapor.github.io/documentation/fluent/driver.html

Skip the `User.database = ` part. I'm pretty sure what's happening here is somehow User is not getting all the data it needs to initialize so it's getting skipped.

https://github.com/vapor/fluent/blob/master/Sources

[2016-08-17 23:15] collinhundley opened #31 "TINYINT Issues"
MySQL `TINYINT` fields still aren't being handled correctly on Linux.

Example: My table has a `TINYINT` column, and so I store a value of `2` in it.  When I perform a fetch using this package, I extract the field like this:

[code]

On macOS, `myField` now has a value of `2`. On Linux, `myField` has a value of `140533208973314`.

Any ideas of what might be going on?

[2016-08-17 23:20] collinhundley commented on #31
Ok, now I'm seriously confused... the same value doesn't even get returned every time.

I fetch once, and `myField` = `140533208973314`. I fetch again immediately afterward, and `myField` = `140533141864450`. I fetch again, and it's back to `140533208973314`.

It alternates back and forth between those two values with each fetch. What's more, those values change if I restart the application. But a

[2016-08-18 15:22] bordplate opened #32 "Prepared statements with NodeRepresentable"
On the main page, it says to use the `Values`-enum in prepared statements, but this has been changed out with `NodeRepresentable`. I cannot find out how to do create prepared statements anymore.

[2016-08-18 16:29] tannernelson commented on #32
Should look like `mysql.execute("SELECT * FROM users WHERE id = ?", [42])`

[2016-08-18 16:30] tannernelson commented on #31
Not surprising haha, looks like it's just reading from the wrong memory. Could you submit a bug PR with a failing test case? Or at least how to recreate the bug?

It's probably an easy fix.

[2016-08-18 18:38] collinhundley commented on #31
I spent a little time digging into it, but I haven't pinpointed the problem yet. The only potential issue I've found is during the initialization of `Bind` for the output binds. In `Bind.swift`:

[code]

Here, when `buffer_type` is `MYSQL_TYPE_TINY`, `length` returns 4. My understanding of `TINYINT

[2016-08-18 21:27] tannernelson commented on #31
According to the docs ```TINYINT	MYSQL_TYPE_TINY	signed char```

So it looks like you're right, it's 1 byte. The `length` value could be a garbage value coming from a previous query or column.

[2016-08-18 21:49] collinhundley commented on #31
Strangely enough, I can't seem to reproduce how I got 4 bytes for `length`. I'm testing it again and I get 3 bytes every time on Linux and macOS. Maybe I just misread/mistyped it earlier.

Either way, 3 bytes seems strange for a value that should only use 1. However, I should point out that `length` is also 3 on macOS (where this problem doesn't occur at all), so it's possible that `length` isn't

[2016-08-18 21:52] tannernelson commented on #31
I'm almost 99% sure `length` shouldn't be used for TINYINT. So it's just pointing at garbage data or data from some previous operation. I think for TINYINT we must assume a length of 1.

[2016-08-18 22:23] collinhundley commented on #31
I think I found our problem. In `Bind+Node.swift`, in the getter for `value`:

[code]

We're initializing a 64-bit pointer (`Uint`/`Int`), but `buffer` isn't large enough to fill the space. So we're left with junk. Changing those lines to

`let uint = unwrap(buffer, UInt8.self)`

and

`let int = unwrap(buffer, Int8.self)`

solves everything.

[2016-08-18 22:34] collinhundley commented on #31
What I'd love to know is why I only experienced this problem on Linux.

I guess it's possible that the extra memory just happened to be zeroed out on my Mac, but I doubt it.

[2016-08-24 12:19] vdka commented on #28
Alright, worked it out, it was user error. Being Stringly typed in places hurts.

[2016-08-24 12:20] #28 closed

[2016-08-25 08:27] Shunzi007 opened #35 "MySQL build error"
## My Package file:

## When run "vapor build", it tells:

## And build by Xcode, it tells:

## could you help me to find out the cause?

[2016-08-25 09:47] BrettRToomey commented on #35
`vapor build --mysql` on Mac to properly link libs.

[2016-08-25 16:11] tannernelson commented on #35
This looks like an issue with the installation of MySQL with brew.

[2016-08-29 17:11] #31 closed

[2016-08-29 17:37] collinhundley opened #36 "Migrate 08-18"
Working on a migration to 08-18, but some of the new pointer APIs are giving me trouble. Specifically, the new `UnsafeMutableRawPointer` behaves a little differently than `UnsafeMutablePointer<Void>` (no `deinitialize()` method, and the `allocate()` and `deallocate()` methods now require an `alignedTo` argument.

@tannernelson You guys have migrated some of the other packages already, so have you

[2016-08-30 19:59] Casperhr opened #38 "Text datatypes missing"
TINYTEXT
MEDIUMTEXT
TEXT
LONGTEXT

[2016-08-30 19:59] Casperhr opened #39 "Enum datatype missing for prepare"
The datatype ENUM is missing

[2016-08-30 20:09] Casperhr opened #40 "Default values for prepare is missing"
I only found a way to set NULLABLE

unsigned option for integers is also missing

binary option for varchars is also missing

[2016-08-31 18:26] #36 closed

[2016-08-31 19:04] tannernelson commented on #40
https://github.com/vapor/fluent/issues/77

[2016-08-31 19:04] #40 closed

[2016-08-31 19:05] tannernelson commented on #39
https://github.com/vapor/fluent/issues/78

[2016-08-31 19:05] #39 closed

[2016-08-31 19:05] #35 closed

[2016-08-31 19:05] #32 closed

[2016-08-31 19:06] #26 closed

[2016-08-31 19:06] #17 closed

[2016-09-02 13:52] Casperhr opened #42 "Storing special chars crashes"
Fx storing the string
[code]

Will crash at Bind.swift
[code]

[2016-09-02 14:41] nickskull commented on #42
Just to clarify, it's probably the unicode long dash causing it "—", code \u2014.

[2016-09-03 01:29] tannernelson commented on #42
Can you include the stack trace?

[2016-09-03 10:53] Casperhr commented on #42
Jep it's code the byte is >128 so it crashes

[code]

[2016-09-03 17:07] collinhundley commented on #42
This is the same as #25, which should have been fixed with v0.4. @Casperhr can you verify in your code that `Char` is a typealias for `UInt8` and not `Int8`?

[2016-09-04 06:44] nickskull commented on #42
@collinhundley I've just verified and it shows up as typealias for `Int8`. Although, this project is still using Vapor 0.16.

[2016-09-06 05:54] collinhundley commented on #42
That's strange because your stack trace shows v0.4, but somehow you've got old code in there. Either way, updating should do the trick :)

[2016-09-07 13:57] Casperhr opened #44 "mysql_close crash"
[code]

Running this from a command over and over will throw this error now and then

[code]

[2016-09-11 01:48] tannernelson commented on #44
@Casperhr Can you please provide the schema for that table?

[2016-09-11 03:33] #42 closed

[2016-09-11 03:34] tannernelson commented on #42
This should be fixed in 0.5 and later. Feel free to re-open if it's still happening.

[2016-09-11 03:43] #22 closed

[2016-09-11 03:43] #44 closed

[2016-09-12 02:58] collinhundley opened #50 "Connection pooling"
@tannernelson mentioned a while ago that this package is only meant to be a simple Swift wrapper, but I'm wondering if you've had a change of heart.

It looks like thread safety has been implemented, so I think the next step would be to add connection pooling. We can reuse a single connection now but the server will usually drop it after a few hours, so we'll probably want to maintain a small pool

[2016-09-12 03:36] #4 closed

[2016-09-12 03:38] tannernelson commented on #50
I wouldn't mind seeing this added. It could go on the `Database` class. The execution code moved to the `Connection` class which I think is a lot cleaner now. So users have the option to execute from `Database` in which case a new connection is created every time, or to create one connection and re-use that.

So if `Database` was able to automatically re-use a finite amount of connections to impro

[2016-09-12 22:25] collinhundley commented on #50
That sounds like a good idea. I'm no connection-pooling expert, but we'll need a way to catch dropped connections and recycle them somehow. There's a variety of reasons a request could fail, so we'll probably need to create a new connection and retry the request on the new one.

[2016-09-19 16:12] eneko opened #53 "Mapping Integer and Double values to TIMESTAMP fields on DB"
When using `Int` or `Double` on `makeNode()` for a date field inside a Fluent Model, MySQL fails to map the value to a TIMESTAMP field.

Source code example (`Double`):

[code]

Source code example (`Int`):

[code]

Error response:

[code]

[2016-09-22 04:00] iachievedit opened #55 "MySQL POINT type creates trap on SELECT"
Using 1.0.0 I executed `try mysql.execute("CREATE TABLE locations (location POINT)")` to create a table with a column of type POINT.  I then noticed that running `SELECT * FROM locations` was throwing an exception with `outputBind("")` as the `error`.

As a working example I posted a Swift application here:  https://github.com/iachievedit/point

The issue is easily reproducible with Vapor 1.0.0/My

[2016-10-03 22:21] hhanesand opened #56 "Foreign Keys between tables"
When preparing schemas with relations to other tables through the `prepare` function on the `Preparation` protocol, foreign key relations do not seem to be created in the database, even if the `parent` method on `Schema` is used.

For example, for the following schema (specifically the `review` table),
![screen shot 2016-10-03 at 3 15 26 pm](https://cloud.githubusercontent.com/assets/3051243/19056

[2016-10-03 22:25] hhanesand commented on #53
@eneko Any update on this?

[2016-10-03 22:27] collinhundley commented on #56
Hi @hhanesand, it looks like your questions is specifically about the [Fluent ORM](https://github.com/vapor/fluent). Since the issue doesn't appear to be related to the MySQL driver itself, I'd recommend that you post your question in that repo to get better help.

[2016-10-03 23:20] hhanesand commented on #56
Thank you, I will move it there.

[2016-10-03 23:20] #56 closed

[2016-10-04 03:13] eneko commented on #53
@hhanesand not so far, never managed to add the Date to TIMESTAMP field conversion (and viceversa).

Furthermore, MySQL date fields are returned as an ISO string, so they can be converted to a Date using a DateFormatter. However, I found issues using DateFormatters on Linux so I am using Ints and handling dates as unix timestamps (which works well for me but might not work for everyone).

[2016-10-04 13:08] popaaaandrei opened #57 "Support SMALLINT as well / unsigned functionality seems not to work at all"
Hey guys,

I get a lot of `[MySQL] Unsupported type: SMALLINT` errors.

MySQL `SMALLINT` => C API `MYSQL_TYPE_SHORT` => C `short int` (16 bit) => Swift `UInt16 / Int16`.

Something like this in Bind+Node.swift solves my problem.

[code]

On the other hand, unsigned functionality seems not to work at all. I have a lot of unsigned types in my database but `cBind.is_unsigned = 0` always, as the initi

[2016-10-13 22:24] BrettRToomey opened #60 "Not recovering from timeout"
By default, MySQL times out a connection that has been idle for more than 8 hours. Presently, `vapor/mysql` isn't recovering from this timeout and opening a new connection with the server, thusly causing an error to be thrown on the next query.

[2016-10-13 22:53] collinhundley commented on #60
@BrettRToomey Check out the `connection-pool` branch. It maintains a pool of connections and automatically recovers from timeouts. We were waiting to pull it into master after v1.0, so it's probably a good time to revisit this.

If someone wants to do more testing, that would be great. FWIW I have 2 live servers that have been running on the `connection-pool` branch without a hiccup for about 3 we

[2016-10-20 12:38] syky27 opened #62 "Error deploying to Heroku with MySQL running elsewhere"
Hi, I have no idea what to do, I am trying to deploy this: https://github.com/syky27/LostSocks-api/tree/03270f0025798b5050e7d0c71fadc81360fe8c07

with mysql.json config to external server and I am getting this error.
[code]

Thank you for any help

[2016-10-20 15:14] LoganWright commented on #62
Our buildpack is required or manually adding mysql flags to other buildpack.

https://github.com/vapor/heroku-buildpack

[2016-10-20 15:14] #62 closed

[2016-10-20 15:15] syky27 commented on #62
Thank you very much!
--
Tomas Sykora

[2016-10-25 20:17] rafael-chavez opened #63 "mysql build error"
Getting build error when i run:

vapor build --mysql

Not much documentation on how to install any dependencies for this project in their [website][1]. From the stack trace, it seems im missing 'lmysqlclient' which im not sure if im supposed to add to the linker flags or is this something that needs to be added to the vapor config (im pretty new to vapor).

Any help greatly appreciated!

Here is t

[2016-10-26 11:22] idelfonsog2 commented on #63
I think somebody already mentioned in mysql #29

[2016-10-26 17:05] tannernelson commented on #63
Did you install MySQL through brew?

[2016-10-26 17:25] rafael-chavez commented on #63
Yes so the fix is described here:

http://stackoverflow.com/questions/40248289/vapor-mysql-not-building/40249397#40249397

We should probably update the documentation to reflect this.

Also seems like almost everyone using mysql provider is running into the issue where you need to specify -DNOJSON. However is there a way to specify this using vapor? currently using
vapor build --mysql fails becaus

[2016-10-26 19:31] tannernelson commented on #63
You need to prefix it to pass to the Swift compiler like so: `-Xswiftc -DNOJSON`

[2016-11-12 13:22] vincentlong889 opened #64 "get connection issue on ubuntu"
os: ubuntu 14.04 lts
mysql: 5.7.16
mysql error logs:

2016-11-12T13:11:45.268776Z 3 [Note] Aborted connection 3 to db: 'xxxx' user: 'root' host: 'localhost' (Got an error reading communication packets)

my app use vapor/mysql library just crash, console log: Trace/breakpoint trap

[2016-11-16 19:59] HDsign opened #65 "Query data in different order then table order"
Most of the data returned after doing a query is in a different order then the data is in the database.

[2016-11-16 20:03] collinhundley commented on #65
@HDsign what do you mean by different order than the database? MySQL's storage system is extremely complex, and as far as I'm aware there isn't any particular "order" that can be determined.

[2016-11-16 20:19] HDsign commented on #65
Well if the table structure is like this:

* id
* name
* company_id
* created_at

The query `select * from users` gives a dataset in this order:

* name
* company_id
* id
* created_at

[2016-11-16 20:23] collinhundley commented on #65
Oh you mean the fields.  Where are you getting this order?  The results of `database.execute()` are dictionaries.

[2016-11-16 20:24] HDsign commented on #65
Yes `database.execute()`

[2016-11-16 20:27] collinhundley commented on #65
If the results are a `Dictionary`, how do you know the order of the fields?

You just subscript the results like this: `let id = result["id"]?.string`, so order shouldn't matter.

[2016-11-16 20:29] HDsign commented on #65
Yeah in that case your right.
I want to show the data fetch from the query in a tableView, create the columns and cell dynamically.

[2016-11-18 14:06] HDsign commented on #65
Without knowing

[2016-11-18 14:59] sahandnayebaziz commented on #65
Ah, I see. I'm thinking. Even if there were a way to make this package create the dictionary ensuring the keys are inserted initially in the same order as the table declaration, as soon as it's done we lose any guarantee of order since it is a dictionary.

This isn't a solution to the ordering problem, but maybe you can make the columns reorderable? I've been using a macOS desktop client called [Q

[2016-11-18 19:17] collinhundley commented on #65
@sahandnayebaziz is right, there's currently no way to get results in any kind of order.

Technically it *is* possible, but it would complicate the API and I'm not sure how many people would have a use for it. If you want to write a custom implementation, take a look at `Connection.swift` - especially lines 114 - 136.

[2016-11-18 19:20] #50 closed

[2016-11-19 13:29] HDsign commented on #65
Okay thank you guys for your time, I'll try to implement it myself. 👍

[2016-11-19 13:30] #65 closed

[2016-11-22 22:02] bguest commented on #29
If you are using XCode, run `vapor xcode --mysql` then you need to add `-DNOJSON` flat under `Build Settings > Other Swift Flags`

[2016-11-26 23:15] kaka21garuda opened #67 "unable to build mysql on a vapor project"
when I run `vapor build --mysql`

    header "/usr/local/include/mysql/mysql.h"

    import CMySQLMac

This is the package that I installed in my project: `.Package(url: "https://github.com/vapor/mysql-provider.git", majorVersion: 1, minor: 0)`.

[2016-11-26 23:28] BrettRToomey commented on #67
Did you install MySQL with brew? If not, you're going to have to install it or make a symbolic link with your current instal to point to the locations the compiler is expecting.

[2016-11-27 04:50] kaka21garuda commented on #67
@BrettRToomey yes I did install MySQL with brew, running a local MySQL server on my machine, but when I try to link them up. I always got those errors

[2016-12-02 18:29] tannernelson commented on #67
Duplicate of https://github.com/vapor/mysql/issues/29

[2016-12-02 18:29] #67 closed

[2016-12-02 18:29] tannernelson commented on #63
Duplicate of https://github.com/vapor/mysql/issues/29

[2016-12-02 18:29] #63 closed

[2016-12-02 18:32] tannernelson commented on #60
Fixed in MySQL Driver 1.0.1 https://github.com/vapor/mysql-driver/releases/tag/1.0.1

[2016-12-02 18:32] #60 closed

[2016-12-18 20:21] calioasis opened #70 "How can I just return the query as JSON?"
I can't find this anywhere in the documentation. I just want to return the query as JSON, i.e. convert [[String: Node]] to JSON and return it.

[2016-12-19 18:10] tannernelson commented on #70
Try

[code]

[2016-12-30 13:25] josipbernat commented on #62
I'm using vapor's buildpack for heroku but I'm still getting this error. How did you solve it?

[2016-12-30 18:28] litoarias commented on #62
Same problem as @josipbernat

[2017-01-02 10:18] josipbernat commented on #62
I ended up using PostgreSQL because Heroku uses ClearDB which isn't the same as latest MySQL which Vapor uses.

[2017-01-03 04:17] doronkatz opened #72 "Issue with Vapor/MySQL and Kaitura over Docker"
Hi guys,

So i am a newbie, and in my environment, im running Kaitura over Docker. I have installed the necessary headers I believe and MySQL on that environment, as well as on my mac.

Now when i run **swift build** I get the following console error:

`
/projects/project7/.build/debug/CHTTPParser.build/module.modulemap:2:14: error: umbrella directory '/Users/doronkatz/Development/Server/project7/

[2017-01-03 05:49] doronkatz commented on #72
After some more digging around it seems like the issue was not SQL but rather the **https://github.com/IBM-Swift/BlueCryptor.git** package. Therefore this issue can be closed. This has instead been opened up as: [Issue #16 in IBM-Swift/BlueCryptor](https://github.com/IBM-Swift/BlueCryptor/issues/16)

[2017-01-03 05:49] #72 closed

[2017-01-06 23:19] carlhung opened #73 "crush when i do this .execute("START TRANSCATION;", [], connection)"
I am using Mac.
when i run this line,
.execute("START TRANSCATION;", [], connection)
it crushes, and found this error,
error: MySQL.Error.prepare("This command is not supported in the prepared statement protocol yet")
i have no idea why it would throw.
without this line, it won't throw. but i need this line to guarantee that upcoming commands work together.
Is it possible to fix that?
Thanks.

[2017-01-09 16:11] tannernelson commented on #73
Looks like MySQL prepared statements do not support transaction queries. There is no way to perform non prepared statement queries with this module currently. That functionality will need to be added.

Possibly we could switch to prepared statements if and only if there are variables to be parameterized.

[2017-01-13 07:09] Mordil commented on #50
@collinhundley Why was this issue closed if there seems to be a desire for the feature?

Should a new issue be created proposing the feature before implementing?

[2017-01-19 23:41] BrettRToomey commented on #73
@carlhung There's now a transaction function on `Connection`. Adding support for prepared statements is definitely its own issue and one I'm not sure we have a direct answer to. Closing this for now.

[2017-01-19 23:41] #73 closed

[2017-01-19 23:45] BrettRToomey commented on #53
MySQL now has `Date(mysql: mysqlFormattedString)` and `Date().mysql` for serialization and deserialization. I've been working on `Date` serialization and deserialization with `Node`. Will post a reference here when it's merged, but going to close this for now.

[2017-01-19 23:45] #53 closed

[2017-01-20 06:19] BrettRToomey commented on #70
Closing :)

[2017-01-20 06:19] #70 closed

[2017-01-20 06:20] BrettRToomey commented on #5
Closing this. Thanks @edwd

[2017-01-20 06:20] #5 closed

[2017-01-20 06:25] BrettRToomey commented on #57
As far as I can tell, the unsigned functionality seems to be fixed, but `SMALLINT` support still isn't added. @tannernelson Is `SMALLINT` worth supporting? If so, we should probably open another issue for it or trim the unsigned stuff from the OP.

[2017-01-24 22:15] vzsg opened #80 "Poor query performance with large result sets"
Consider the simplest and most naive of the database queries, where `thing` is a table with two `varchar(255)` columns and 50000 rows of fake data:

[code]

Running this query takes more than 2 seconds in a debug build, little more than 1 second in a release build on a 2015 MBP. The numbers are striking, the query is an order of magnitude slower than the time needed for the actual SQL fetch! (Test

[2017-02-02 16:21] vzsg commented on #80
Further experiments show that replacing the byte-decoded UInt8 sequence -> String conversion with `String(validatingUTF8:)` brings up the speed to a tolerable level while reducing memory usage.

Unfortunately, one cannot assume with MySQL that the data doesn't contain ASCII NULLs inside, so it's not a viable solution...

[2017-02-10 05:39] xiongyuxi opened #82 "How to skip ssl when establish connection"
Hi,
I had a database server with mysql5.6. When I try to connect to DB I have this issue.
ERROR 2026 (HY000): SSL connection error: error:00000001:lib(0):func(0):reason(1)
How can I skip ssl connection or is there a way to add ssl certification?
Thanks!

[2017-02-10 14:00] vzsg opened #83 "BLOB type should map to Node.bytes, not Node.string"
Currently the BLOB column type goes through the same UTF-8 decoding as string types, despite the common definition (incl. [MySQL's own](https://dev.mysql.com/doc/refman/5.7/en/blob.html)) that BLOB (and BINARY and VARBINARY) columns store raw binary data.

I think this type should be mapped to `Node.bytes(Bytes)` directly, without any encoding in either direction.

[2017-02-10 16:03] tannernelson commented on #83
@vzsg totally agree. I'm excited about the performance improvements the new `bytes` case is going to get us.

[2017-02-15 05:24] kapsy opened #87 "Stored procedure not returning any results."
I've been successfully using vapor/mysql for standard calls, for example:
`let result = try database.execute("SELECT * FROM customers;")`

But when I try a stored procedure that does the exact same thing:
`let result = try database.execute("CALL selectCustomers();")`
The result dictionary is empty.

I can confirm that the procedure works when calling directly from mysql.

Here is the stored proced

[2017-02-15 06:45] kapsy commented on #87
I've also tried passing the flag `CLIENT_MULTI_STATEMENTS` as suggested for when calling `mysql_real_connect()` for the MySQL C API. I tried passing the flag through vapor/mysql:
[code]
This passed the flag to `my_sql_connect()` ok, but still did not return the results of the procedure.

[2017-02-15 08:09] vzsg commented on #87
I'm afraid it's not supported currently as the driver executes every query using prepared statements.

Reading the results of a CALL statement requires [special handling](https://dev.mysql.com/doc/refman/5.7/en/c-api-prepared-call-statements.html), while the current implementation only does a single bind-fetch trip.

[2017-02-16 10:28] LoganWright commented on #87
@kapsy @vzsg what would it take to support this as an additional feature? I'd imagine procedures to be a nice addition if we could work it.

[2017-02-16 11:15] vzsg commented on #87
I'm not quite sure why the example above didn't work, actually. The first result set should have been returned, even if the driver doesn't read until the final packet.

I think the driver could follow the [example](https://dev.mysql.com/doc/refman/5.7/en/c-api-prepared-call-statements.html) using a `repeat-while` loop, and build an `.array` Node where every child is an object built from the result

[2017-02-16 13:05] kapsy commented on #87
@vzsg Ok I see - thanks v. much for your response. @LoganWright support for stored procedures would be very welcome.

[2017-02-16 17:32] tanner0101 opened #88 "implement closed"
There needs to be some indication on the connection when it has closed or become unusable

[2017-02-16 19:59] vzsg commented on #87
Okay, fun fact time: `mysql_stmt_result_metadata(statement)` cannot return anything before executing the stored procedure, this is why the driver discards the results right away.

I wonder if there is a disadvantage in executing a statement first and getting metadata later.

[2017-02-17 13:29] #83 closed

[2017-04-08 04:53] hhanesand commented on #80
@vzsg I'd like to investigate this, but how do I go about verifying if the result set is leaked or not?

[2017-04-08 06:19] vzsg commented on #80
I was using Xcode's Debug Navigator for tracking total memory use – if it's not a flat graph, something is wrong – then Memory Graph and Instruments to look into what's leaking.

[2017-04-14 17:38] cshiva commented on #62
Vapor experts in slack gave me this solution which worked for me.

heroku config:set SWIFT_BUILD_FLAGS="-Xswiftc -DNOJSON"

[2017-05-03 14:07] BrettRToomey commented on #55
Closing due to inactivity. Please feel free to reopen.

[2017-05-03 14:07] #55 closed

[2017-05-03 14:07] #57 closed

[2017-05-03 14:08] BrettRToomey commented on #64
Closing due to inactivity. Please feel free to reopen.

[2017-05-03 14:08] #64 closed

[2017-05-03 14:08] BrettRToomey commented on #80
Any updates on this?

[2017-05-03 14:46] hhanesand commented on #80
No, I haven't gotten to this. Thinking we should revisit this after 2.0 comes out of beta

[2017-05-03 15:51] florianreinhart commented on #57
I need support for SMALLINT. Do you have any plans to add support for it?

[2017-05-04 15:45] tanner0101 commented on #80
We've moved to a much more efficient `makeString()` implementation in Vapor 2. https://github.com/vapor/bits/blob/master/Sources/Bits/ByteSequence%2BConversions.swift#L4-L10.

Going to close this issue for now since a good portion of it has been addressed and the issue of performance is pretty general. Please feel free to open a new issue for any specific performance issues.

[2017-05-04 15:45] #80 closed

[2017-05-04 21:22] vzsg commented on #80
I might do a stress test again later, but I'm sure the situation is already far improved since January.

[2017-05-08 18:10] gonzalo-aizpun-umewin commented on #87
👍

[2017-05-19 14:05] #88 closed

[2017-05-25 07:38] russanto opened #96 "swift-package: error: unsatisfiable with version 2"
Hi, I'm trying to work with Vapor MySQL and Kitura but I always get the error in the title when I run swift build or swift package generate-xcodeproj. It only happens with new version 2, I works perfectly with latest version 1. Here is my Package.swift
[code]

[2017-05-25 07:54] vzsg commented on #96
I copied your dependencies into a new project and it resolved just fine. Perhaps you have a `Package.pins` file lying around from an older build? Try removing that along with the `.build` folder and building again.

[2017-05-25 08:52] russanto commented on #96
OK, it worked for me tu delete `Package.pins` and `.build` folder but now, I'm working on Ubuntu, it require a cmysql package that it can't find and I don't know where to search for.
`cmysql libcurl4-openssl-dev openssl libssl-dev`
`E: Unable to locate package cmysql`

[2017-05-25 10:21] vzsg commented on #96
The `cmysql` package is available in Vapor's own APT repository. See the [documentation](https://docs.vapor.codes/2.0/getting-started/install-on-ubuntu/).

[2017-05-25 14:37] #96 closed

[2017-05-31 00:21] DrewHood opened #97 "TimeZone extension causes crash on Linux"
Hi there,

I've found an issue in the latest release of vapor/mysql. In `Bind.swift`, around line 250, there is this extension to [Foundation's TimeZone](https://developer.apple.com/reference/foundation/timezone).

[code]
When running this code on Ubuntu 16.04, I'm encountering a crash for unwrapping a nil Optional. It appears that some (possibly all? I've only confirmed this in docker ubuntu 16.0

[2017-05-31 00:52] natebird commented on #97
We encountered the same issue on the PostgreSQL stack. The issue is related to not having the `tzdata` package not installed. See https://github.com/vapor-community/postgresql/issues/43#issuecomment-302916926

It was resolved by not relying on `tzdata` in PR https://github.com/vapor-community/postgresql/pull/44. I think the solution above works just as well.

[2017-05-31 03:33] DrewHood commented on #97
Thanks. I'll leave changing the code to other community members. Installing the `tzdata` package does fix the issue for me. For what it's worth, as a Vapor user, installing that package is negligible overhead for me. Perhaps just documenting that dependency somewhere would be enough. Though I still don't feel right about force-unwrapping.

[2017-06-01 15:26] LoganWright commented on #97
@DrewHood can you confirm whether or not the timezone:0 works? If so, that would seem like an apt solution to me. Any chance you could submit a PR?

[2017-06-02 02:47] DrewHood commented on #97
It happened to work for me in this instance, but I don't know how it will behave on different systems. I think the long-term solution here is to have the framework account for the possibility of a `nil` `TimeZone`. Unfortunately I don't have time in my schedule right now to write the tests for a PR for this.

[2017-06-02 12:39] LoganWright commented on #97
@DrewHood unfortunately, that would be a breaking change, and I think we need a way to reliably create a timezone. For now, I think introducing the 0 is an appropriate solution given the constraints of the package. I'll submit a PR and see how it runs on our tests.

[2017-06-02 13:10] #97 closed

[2017-06-02 13:11] LoganWright commented on #97
I was wrong, it's all internal, so no breaking changes ... updated and merged 👍

[2017-06-16 10:30] O-mkar opened #99 "Cannot invoke 'Database' with an argument list of type '(host: String, user: String, password: String, database: String)'"
I have migrated my code to Vapor 2.0 and i'm facing this error
**Cannot invoke 'Database' with an argument list of type '(host: String, user: String, password: String, database: String)'**

[code]
<img width="1188" alt="screen shot 2017-06-16 at 3 57 38 pm" src="https://user-images.githubusercontent.com/16367429/27223115-cc72475a-52ac-11e7-8531-9dbc17b8889a.png">

[2017-06-16 10:55] 0xTim commented on #99
@O-mkar `host` has been renamed to `hostname`. This should fix the compiler error

[2017-06-16 10:55] #99 closed

[2017-06-17 16:32] O-mkar opened #100 "Heroku dyno crash using MySQL"
I recently migrated to Vapor 2.0 and I'm facing this crash on Heroku on Mac its working fine but on Heroku its crashing when to try to connect to MySQL

[code]
When i request make it crashes

<img width="1169" alt="screen shot 2017-06-17 at 10 00 55 pm" src="https://user-images.githubusercontent.com/16367429/27254592-dc028188-53a8-11e7-9eb8-6d68b4cb557e.png">

[code]

[2017-06-17 22:17] vzsg commented on #100
I'm pretty sure you don't have a MySQL server at 127.0.0.1 when you deploy your application to Heroku. You might want to revisit that configuration – preferably by using environment variables...

[2017-06-18 04:24] O-mkar commented on #100
@vzsg Yeah I'm using production credentials, I don't know why it is crashing

[2017-06-18 05:02] O-mkar commented on #100
@vzag I guess it's the same issue which is affecting my code https://github.com/vapor/vapor/issues/954
But mine at least build successfully
[code]

[2017-06-18 08:10] vzsg commented on #100
It's definitely not related, as that issue was about being unable to compile the project (fortunately it was resolved).

In the app log, it says "Process exited with status 139", which is the code for segmentation fault (128 + **11**). This can be an issue in a C component (unlikely now) or the result of that `fatalError` call...

Do everyone a favor, and before killing the app with that call, use

[2017-06-18 09:59] O-mkar opened #101 "Multiple mysql connection crash on Heroku"
When I try to make multiple MySQL Connection on Heroku it crash

[code]

[code]

[2017-06-18 10:52] O-mkar commented on #100
@vzsg check this  #101  and drop.log.error("MySQL Error: \(error)") is not working

[2017-06-18 12:43] O-mkar commented on #100
@vzsg  i was able to get crash log for you

<img width="35" alt="screen shot 2017-06-17 at 10 00 49 pm" src="https://user-images.githubusercontent.com/16367429/27260764-e0dfd7f6-5451-11e7-8505-6dc4ddab2db5.png">

[2017-06-18 13:27] vzsg commented on #100
So it's apparent that there's a connection error (or rather a "connection lost" error) – which is problematic of course, but the only reason it _crashes_ is because you call `fatalError`. Don't do that, Swift isn't PHP.

Instead, `throw` the error again. Or just remove the whole `do-try` pair, so the error can bubble up.

---

Once you did this, the real question becomes: how much of the requests

[2017-06-18 15:01] O-mkar commented on #100
@vzsg  its an addon I use clear DB if I make multiple connections it crash it happens, again and again,  I have added code to #101 to reproduce a the bug.

[2017-06-18 22:03] vzsg commented on #101
I can't reproduce this. Sure, Heroku returns an Application Error – a request timeout as inserting 10000 rows in separate transactions takes more than 30 seconds –, but no crash whatsoever.

[2017-06-19 04:22] O-mkar commented on #101
Here is the code you can reproduce

[test.zip](https://github.com/vapor/mysql/files/1083803/test.zip)

[2017-06-19 21:18] vzsg commented on #101
I still don't get a crash, but serverLost exceptions.

Regardless, your code is incorrect.

MySQL connections are not thread-safe, so creating one connection during route setup and trying to reuse it inside the route handlers will *not* work. By design.

[2017-06-20 03:43] O-mkar commented on #101
If i dont reuse the connection it will use up all the mysql connection i have only 10 connection Any solution on this?

[2017-07-07 10:11] vzsg opened #103 "Memory allocation crash with LONGTEXT columns on low-mem systems"
Today, a strange low-level crash was reported on Slack, starting from [here](https://qutheory.slackarchive.io/help/page-77), stacktrace [here](https://qutheory.slack.com/files/hrpedersen/F659UA744/bt_gives.txt).

I built a test case out of it: #102, which passes on CircleCI, but that is just a coincidence.

After some more discussion in DM, it seems that the crash is tied to the available virtual

[2017-07-07 10:30] vzsg commented on #103
Update:

I have managed to reproduce the issue in Docker and `ulimit -Sv 512000`. The same stacktrace is shown in the core dump.

After adding a simple print to Bind.swift to see the amount of allocated bytes, my suspicion is confirmed:

[code]

[2017-07-11 22:48] tanner0101 commented on #103
Thanks for the bug report test case!

It looks like if we simply use `max_length` instead of `length` on the `MYSQL_FIELD` struct we would only need to allocate enough memory to hold the largest value actually in the result set (not just the largest value _possible_).

We're currently using [`length`](https://github.com/vapor/mysql/blob/master/Sources/MySQL/Bind/Bind.swift#L59)

We should use `max

[2017-07-12 06:39] vzsg commented on #103
I hope working around is really possible, I didn't read the docs, but observed `max_length` being always 0.

[2017-07-12 06:49] vzsg commented on #103
Apparently, [there's a flag for that](https://dev.mysql.com/doc/refman/5.7/en/mysql-stmt-attr-set.html)

[2017-07-19 17:33] tanner0101 commented on #103
Really strange that they would hide `max_length` behind a flag when that really seems like what people should be using to prevent extraneous memory allocation... Makes me wonder what other applications are using.

I'll take a stab at implementing this today and see if it works.

[2017-07-29 04:32] #103 closed

[2017-07-29 04:33] #101 closed

[2017-07-29 04:33] #100 closed

[2017-08-06 17:54] rrvemula opened #105 "mysql build issue"
Hi,

I installed MySQL manually and the location is /usr/local/mysql and underneath this location I have the following directories - bin, lib, man etc directories

I've included .Package(url: "https://github.com/vapor/mysql-provider.git", majorVersion: 2) in Package.swift

I tried compiling vapor build --clean and get the following error
Fetching Dependencies [                        •]
Error: bac

[2017-08-06 18:43] vzsg commented on #105
This doesn't seem to be related to the mysql package, but most likely a syntax error in your Package.swift file. It's actually pretty clearly visible if you read the output.

Perhaps you didn't add a comma after the vapor.git dependency?

[2017-08-07 13:35] rrvemula commented on #105
Thanks @vzsg - My bad. it was a comma after the git dependency

[2017-08-07 13:35] #105 closed

[2017-12-19 21:59] rafiki270 opened #111 "Return MySQLConnectionPool to the package - 3.0 feat. req."
pretty please? :)

[2018-01-06 08:39] twof opened #114 "[Vapor 3][Beta]Deleting one row and then retrieving all of them results in inconsistent return values"
After deleting, the first time getting `.all()` returns an empty array, and the second time returns the actual contents of the table.

Example delete:
[code]

Example get all:
[code]

Let me know if you need anything else :)

[2018-01-08 10:45] Joannis commented on #114
Which database is this?

[2018-01-08 10:47] twof commented on #114
MySQL

[2018-01-08 11:57] Joannis commented on #114
Oh wait, I thought this is a Fluent issue! 🤦‍♂️

[2018-01-08 20:04] twof commented on #114
hahaha it's cool. It could very well be a Fluent issue. I haven't tested this out on other DBs

[2018-01-09 07:57] Joannis commented on #114
It's definitely a MySQL issue, one I cannot (easily) reproduce with just the driver, though.

[2018-01-09 08:00] twof commented on #114
hmmm well if it helps, here's my `package.swift`

[code]

and the `Reservation` model

[code]

Lemme know if there's anything else I can grab for you :)

[2018-01-14 00:49] Joannis commented on #111
Closing this since [Database Kit](https://github.com/vapor/database-kit) houses the connectionpool now.

[2018-01-14 00:49] #111 closed

[2018-01-14 00:51] Joannis opened #115 "Clean up"
- Clean up the internals to use the new async layer helpers
- Support synchronous sockets
- Simplify the internal codebase
- Unit tests

[2018-01-14 20:31] rafiki270 opened #116 "Decoding into an object fails if any column has NULL value"
Model User
[code]

I had inserted an object that has `token` and 'expires` as NULL and decode fails with a message `The received packet was invalid`

[2018-01-14 20:33] rafiki270 opened #117 "Encoding of Bool fails"
[code]

In `Binding+Encoder.swift`

[2018-01-16 17:35] Joannis commented on #117
Fixed now 👍

[2018-01-16 17:35] #117 closed

[2018-01-16 17:38] Joannis opened #118 "Support requesting .max on row streams"

[2018-01-17 00:32] twof opened #119 "Booting fails on Heroku on migration step"
Tanner said this was probably a MySQL issue

[code]

[2018-01-23 08:24] tanner0101 commented on #119
My bet is this is already fixed, but let's verify w/ @Joannis

[2018-01-23 08:34] #118 closed

[2018-01-23 12:19] Joannis commented on #119
Yup 👍 Should be already fixed. I'll close this. Please do reopen if this reoccurs

[2018-01-23 12:19] #119 closed

[2018-01-23 12:22] Joannis commented on #114
This should be fixed, I rewrote all of this logic

[2018-01-23 12:22] #114 closed

[2018-01-23 13:30] Joannis commented on #116
This should be fixed since a few days, let me know if it's not :)

[2018-01-23 17:14] twof commented on #119
[code]

Should I open up a new issue?

[2018-02-01 17:43] MihaelIsaev opened #120 "Can't insert any data"
Can’t insert any data to mysql using FluentMySQL

[code]

Model
[code]

I’m sending POST request with JSON
[code]

And getting `200 OK` with body:
[code]

And it looks like everything is ok but table `emailverifications` in database is still empty
Need help how to fix it...

[2018-02-01 17:47] MihaelIsaev commented on #116
It is still fails on Vapor 3 beta
`The packet could not be parsed into valid a response`

[2018-02-01 20:33] MihaelIsaev commented on #120
I found the problem with insertion :) I use `var email: String?` as `IDKey`. If I change `IDKey` to `Int` or `UUID` then I can insert data to the database.

[2018-02-01 23:32] #115 closed

[2018-02-01 23:43] MihaelIsaev commented on #116
It’s easy to reproduce

Just add `var someText: String?` to `Todo`’s model (in standart todo template, but with fluentmysql)

Then send `POST` to `http://localhost/todos` with the following JSON `{"title": "hello" }` it will create new row in `todos` table with nulled `someText`
Then just do `GET` to `http://localhost:8080/todos/` and you’ll get `Oops: The packet could not be parsed into valid a r

[2018-02-02 00:34] MihaelIsaev opened #121 "Crashes on ubuntu 16.04.3"
I'm trying to run standart Todo project with fluentmysql on Ubuntu 16.0.4 and it crashes with error `Fatal error: ⚠️ [TCP.TCPError.read: Bad file descriptor] [/services/todo2/.build/checkouts/sockets.git-8311360091744607488/Sources/TCP/Socket/TCPSocket.swift:106:37] : file /services/todo2/.build/checkouts/sockets.git-8311360091744607488/Sources/TCP/Streams/TCPSocketSink.swift, line 68`

<img width

[2018-02-20 00:05] SandorDobi opened #125 "Incorrect tagging, unable to build with the V3 beta"
The repo have an incorrect tagging.
The master branch is tagged for the latest beta tag, that tag is about 2 month old commit.
the fluent-mysql dependecy will pull in this version, which cannot be build with the rest V3 betas.
Please remove this tag and tag the latest beta commit.

Regards

[2018-02-20 00:17] tanner0101 opened #126 "`PrepareQuery` callback never firing"
Tracking down an issue where `model.save(...)` is never completing (for a complex route).

Looks like `callback` parameter to `PrepareQuery` is never firing.

![screen shot 2018-02-19 at 7 14 48 pm](https://user-images.githubusercontent.com/1342803/36402005-5f8467c0-15a9-11e8-805f-a5771e0409f6.png)
![screen shot 2018-02-19 at 7 14 53 pm](https://user-images.githubusercontent.com/1342803/36402006-6

[2018-02-21 01:39] 0xTim commented on #125
Should be fixed with https://github.com/vapor/mysql/releases/tag/3.0.0-beta.4

[2018-02-21 01:39] #125 closed

[2018-02-21 16:35] SandorDobi commented on #126
this is fixed here @ #127

[2018-02-22 09:12] Joannis commented on #126
Merged #127

[2018-02-22 09:12] #126 closed

[2018-02-26 18:01] Joannis commented on #116
I'm suspecting that the NULL bitmap has a different endianness than is currently implemented.

[2018-02-26 18:01] Joannis commented on #116
I'm suspecting that the NULL bitmap has a different endianness

[2018-02-26 21:32] tanner0101 commented on #121
This error was fixed in the TCP package (related to the socket being closed)

[2018-02-26 21:32] #121 closed

[2018-02-27 22:01] twof opened #128 "Bools are unsupported [Beta]"
See line 56 in `Binding+Encoder.swift`

[2018-02-27 22:11] PitchLabsAsh opened #129 ".bit are unsupported [Beta]"
Line 164 Row+Parseing.swift

        case .bit: throw MySQLError(.unsupported, source: .capture())

[2018-02-27 22:13] PitchLabsAsh opened #130 ".timestamp are unsupported [Beta]"
Line 115 Row+Parseing.swift

case .timestamp: throw MySQLError(.unsupported, source: .capture())

[2018-02-28 03:42] tanner0101 commented on #130
Fixed in #131

[2018-02-28 03:42] #130 closed

[2018-02-28 03:42] tanner0101 commented on #129
Fixed in #131

[2018-02-28 03:42] #129 closed

[2018-02-28 03:43] #120 closed

[2018-02-28 04:17] #128 closed

[2018-02-28 04:52] tanner0101 commented on #116
Sorry, closed this thinking it must have been fixed already. Somehow wasn't. Fixed by #133

[2018-02-28 04:58] tanner0101 commented on #116
_Now_ it's fixed. :)

[2018-02-28 04:58] #116 closed

[2018-02-28 05:00] tanner0101 commented on #87
Version 3.0 of the driver adds support for prepared statements and "administrative queries" as it's called. You should be able to select data from stored procedure just fine using the latter type of query going forward.

[2018-02-28 05:00] #87 closed

[2018-03-03 20:44] JacobSyndeo opened #135 "Cryptic MySQL Errors, Potentially Mishandling Column Types"
Using:
Core 3.0.0-rc.1.0.1
DatabaseKit 1.0.0-rc.1
Engine 3.0.0-rc.1.0.1
Fluent 3.0.0-rc.1.0.1
FluentMySQL 3.0.0-rc.1.1
MySQL 3.0.0-rc.1.1 (querying a local MySQL 5.7.21 instance on running on macOS High Sierra 10.13.3)
Vapor 3.0.0-rc.1.1

I'm trying to work with a legacy MySQL database table for my new Vapor 3 project. It worked perfectly with Vapor 2, but on V3, it's been nothing but trouble. I'v

[2018-03-03 21:25] JacobSyndeo commented on #135
Upon reading through some of the closed issues, I came across #116, which seems to have a lot of similarities with this one. I'd be surprised if they weren't related.

[2018-03-03 21:26] JacobSyndeo commented on #135
Upon reading through some of the closed issues, I came across #116, which seems to have a lot of similarities with this one (not exactly the same—mine seems to have problems when certain NULLable fields contain something besides NULL, but it still seems similar). I'd be surprised if they weren't related.

[2018-03-07 22:27] JacobSyndeo commented on #135
This also might be related to the endless hanging in vapor/fluent-mysql#60, which mentions NIO as a potential fix. But NIO sounds like a pretty sizable overhaul, and I'm not sure if it's even semi-functional yet, so I don't know if testing on that branch would even be possible right now.

[2018-03-12 23:39] BrianCorbin opened #139 "Error when content in column is > 3bytes long during query"
Here's an example of the model I'm using with custom Migration schema stuff.

[code]

It fails when I have data in the json field that is larger than 3 bytes in length with an error of

`[ ERROR ] MySQLError.lengthEncodedData: Could not parse length encoded data.
 (MySQLBinaryResultsetRow.swift:39)`

[2018-03-14 13:56] calebkleveter opened #142 "Add MySQLText Type"
Currently, if I want to create a column for a model property with the `TEXT` type, I need to create a custom migration for the model. This could be simplified if we created a `MySQLText` type that works exactly like a string, but creates a `TEXT` column in the database table.

Another option would be to create a more generic type that is shared between both `vapor/postgres` and `vapor/mysql`.

[2018-03-20 15:36] jseibert opened #143 "[NIO] Multiple save(on:)'s the same Request fail to complete, spin-lock, hang process"
** On the nio branch only. 100% reproducible. Works on master.

Attempting to create and save multiple model instances on the same Request (or on the same db connection at boot) never completes, and the process hangs while burning all available CPU.

Here's the simplest repro case:

[code]

Obviously, any simple model will work. The print() lines never execute.

If one of the save(on:) lines is co

[2018-03-20 22:50] #135 closed

[2018-03-20 22:53] tanner0101 commented on #142
added :)

[2018-03-20 22:53] #142 closed

[2018-03-20 22:58] tanner0101 commented on #143
This has to do with pipelining. This lib _should_ support it, but the messy MySQL wire protocol is going to make that a huge pain. Probably easiest if the connection waits for the previous query to be done before continuing.

If you do `.save()` and flatMap being doing the next save, it should work fine.

[2018-03-20 22:59] mcdappdev commented on #143
Does that make it more inefficient if it has to wait to do the next query?

[2018-03-20 23:15] tanner0101 commented on #143
I don't think there will be a noticeable difference. Pipelining can be a performance boost if you optimize for it, but it's also possible it could be a performance drain. To properly pipeline you need someway to identify the multiplexed streams. Generating and validating those identifiers could require extra work.

In the Postgres driver it was possible to avoid this altogether by ensuring that bo

[2018-03-20 23:17] tanner0101 commented on #143
(See the above commit where this has been fixed and a new test is added)

[2018-03-20 23:20] mcdappdev commented on #143
👍

[2018-03-20 23:53] tanner0101 commented on #139
See the linked commit that addresses this. Thanks!

[2018-03-20 23:53] #139 closed

[2018-03-21 03:50] jseibert commented on #143
👍

[2018-03-22 02:15] jseibert commented on #143
@tanner0101 This is NOT fixed for me on RC2. The same test code above now fails with:

[code]

[2018-03-22 02:19] jseibert commented on #143
The status byte it receives is 1 rather than 0.

[2018-03-22 03:36] tanner0101 commented on #143
Closing in favor of vapor/fluent#411

[2018-03-22 04:36] tanner0101 commented on #143
Re-opening again since there's actually two issues going on here. Related, but different.

For MySQL, the problem is that if two queries are activated while one query is in progress, when the current query finishes it will then activate the two awaiting queries at the exact same moment.

The waiting needs to be chained instead.

[2018-03-22 19:46] #143 closed

[2018-03-23 15:18] ditansu opened #149 "Error when using localhost as host to server connect"
This code
[code]
raise the exception:
[code]
If change `localhost` to `127.0.0.1` all work is correctly

[code]
output:
[code]

[2018-03-23 17:00] twof commented on #149
Also experiencing this, but it didn't seem to cause any problems with querying or whatever

[2018-03-23 20:30] ditansu commented on #149
I also do not see much trouble in this, but this is a very frustrating and confusing situation for (new) users (I've spent 1,5 hour to find solution). Moreover, in the official documentation it is written that it is necessary to use the `localhost`  also `MySQLDatabaseConfig.root(database: String)` use localhost and therefore don't works too.

In any case it's not good when our system behaves not

[2018-03-23 20:51] Maxim-Inv opened #150 "Error when content in column is float/double"
I'm using this model:

[code]

I can save some data to the database. But it fails when try to find it:

`
try Rate.query(on: req).filter(\.currency == "USD").first()
`

got this error:

`
[ ERROR ] MySQLError.binaryColumn: Unsupported type: MySQLColumnDefinition41(catalog: "def", schema: "rates", table: "rates", orgTable: "rates", name: "value", orgName: "value", characterSet: binary, columnLength

[2018-03-24 11:17] Maxim-Inv commented on #150
@tanner0101 please review PR #151

[2018-03-24 11:17] #150 closed

[2018-03-27 23:38] #82 closed

[2018-03-27 23:38] tanner0101 commented on #82
Fluent 3 now longer uses the libmysql library. SSL will be implemented soon and it will support using a plaintext connection 👍

[2018-03-27 23:41] tanner0101 commented on #149
I'll swap this to using 127.0.0.1 👍

[2018-03-27 23:44] #149 closed

[2018-03-30 00:59] tanner0101 opened #153 "mysql tcp connection errors"
Handle better: https://github.com/vapor/mysql/blob/master/Sources/MySQL/Database/MySQLDatabase.swift#L19

Verify that mysql connections behave properly when the server dies unexpectedly.

[2018-03-30 01:06] tanner0101 commented on #153
`SHOW PROCESSLIST` and `KILL` can be used to kill connections at will

[2018-03-30 20:21] britchiex opened #154 "mysql pooled connection error"
this example route from the 3.0-rc documentation (https://docs.vapor.codes/3.0/mysql/core/#query) will not compile

[code]

xcode complains with the error `Member 'mysql' in 'DatabaseIdentifier<_>' produces result of type 'DatabaseIdentifier<MySQLDatabase>', but context expects 'DatabaseIdentifier<_>'`

[2018-04-06 19:27] stvnmcdonald opened #157 "mysql request timed out but still posting"
Whenever I use a POST or GET with MySQL, the request always times out before routing to another view or posting data, but it successfully routes and posts to the DB. I have tried multiple versions of MySQL (5.6 and 5.7), multiple MySQL configurations environments (Docker, MAMP,  Local install, dedicated Linux remote install) and I get the same result.
Currently using MySQL 5.7.21 on a dedicated Li

[2018-04-06 19:30] mcdappdev opened #158 "MySQLError.basicPacket: Unrecognized basic packet"
I get this error when running the app. Everything else works fine, but it looks like maybe it’s misinterpreting an OK signal. MySQL version 5.7.18. I sent query logs to Tanner privately.

[2018-04-06 19:49] mcdappdev commented on #157
I've had some weird timeouts on `BCrypt` as well. Not sure if it's related or not

[2018-04-07 15:36] jseibert commented on #158
I see this as well and haven't had time to dive in yet. But I can confirm it's not specific to your setup :)

[2018-04-13 22:20] xylys opened #160 "utf8mb4 support"
`MySQLConnection+Authenticate.swift` on line `54`

change `characterSet` hex from `0x21`( [utf8_general_ci](https://dev.mysql.com/doc/internals/en/character-set.html))

to `0x2D` `utf8mb4`

[2018-04-14 15:28] DavidBrunow opened #162 "Error using MariaDB"
When running the latest RC of Vapor 3 with a MariaDB database the assertion on line 72 of MySQLHandshakeV10.swift fails.

The value of `reserved` is `[0, 0, 0, 0, 0, 0, 7, 0, 0, 0]` rather than the asserted value of all zeros.

[2018-04-19 20:37] vzsg opened #164 "Prepared statements are leaked by queries"
[MySQLConnection.query](https://github.com/vapor/mysql/blob/198576a6963973a691baaafdb1a01a078affe65c/Sources/MySQL/Connection/MySQLConnection%2BQuery.swift) creates and executes prepared statements, but they are not closed. While the server clears them when a connection is broken down, this can be problematic when the same connection is used for thousands of queries.

For example, this error poppe

[2018-04-19 22:04] tanner0101 opened #165 "support x protocol"
Added in MySQL 5.7.12: https://dev.mysql.com/doc/internals/en/x-protocol.html

[2018-04-20 01:29] stvnmcdonald commented on #157
This isn't related to MySQL. Closing.

[2018-04-20 01:29] #157 closed

[2018-04-20 23:21] mcdappdev opened #166 "MySQL password bug"
I set the password in mysql to an empty string: ''. I can successfully auth from the command line using mysql -uroot. Passing in "" to MySQLDatabaseConfig says it can't connect, but passing in nil complains about not having a password.

[2018-04-23 04:08] t-ae opened #168 "Time zone setting for encoding/decoding `Date`"
Currently it seems `Date` is encoded/decoded as GMT+00:00.
[encode](https://github.com/vapor/mysql/blob/02edf2b060ea9ac6cc1bd924563052f61ded35b2/Sources/MySQL/Connection/MySQLData.swift#L557)/[decode](https://github.com/vapor/mysql/blob/02edf2b060ea9ac6cc1bd924563052f61ded35b2/Sources/MySQL/Connection/MySQLData.swift#L527)
Now I want to store date as local time zone. So I want to make the `TimeZon

[2018-05-10 12:44] 0xTim opened #172 "Support for latest MySQL"
MySQL 10.something has broken support for Vapor due to the SHA2 auth requirements. This should be fixed!

[2018-05-10 18:11] gazingatnavel commented on #172
In Vapor MySQL version 3.0.0-rc2.2, fIle [MySQLConnection+Authenticate.swift](https://github.com/vapor/mysql/blob/master/Sources/MySQL/Connection/MySQLConnection%2BAuthenticate.swift):
[code]
From this [MySQL Server Blog post](http://mysqlserverteam.com/mysql-8-0-4-new-default-authentication-plugin-caching_sha2_password/), starting with MySQL version 8.0.4, the default authentication plugin is `ca

[2018-05-13 09:10] 0xTim opened #173 "MySQL driver discards "afffected rows" data from COM_EXECUTE replies"
In the binary protocol, MySQL returns the "affected rows" value (number of rows in result for DQL, number of rows inserted/updated/deleted for DML) in the first OK packet's affected_rows field. The MySQL driver currently decodes this field, but the OK packet is discarded by MySQLConnection._query()'s state machine. This value should be preserved for higher-level API, as having that information is

[2018-05-16 06:41] rb-de0 opened #175 "HandshakeV10 packet Ignored"
A handshakeV10 packet is ignored rarely  when creating a new connection using ```newConnection ``` method.

After connecting to MySQL Server, it seems that ```channelRead``` method in QueueHandler is called before adding handshake callback.

## Environment
OS: Ubuntu 16.04
MySQL Server: mysql  Ver 14.14 Distrib 5.7.22, for Linux (x86_64) using  EditLine wrapper
Frameworks:
    - MySQL 3.0.0-rc.2.2

[2018-05-16 17:54] tanner0101 commented on #175
I have also noticed this happening. I will dig into this, thanks!

[2018-05-18 21:20] tomcomer commented on #154
I was having this issue too. It seems you have to be a little more specific to help out the compiler:

`return req.withPooledConnection(to: .mysql) { (conn: MySQLDatabase.Connection) in
    return conn.simpleQuery("select @@version as v").map(to: String.self) { rows in
        return try rows[0].firstValue(forColumn: "v")?.decode(String.self) ?? "n/a"
    }
}`

Once I did that, it worked as expect

[2018-05-21 21:38] tholo commented on #162
This is addressed in #174 -- would be nice if we could get a new RC with at least this in. That way we can use MariaDB in debug mode...

[2018-05-30 01:43] #166 closed

[2018-06-07 02:56] t-ae opened #178 "Decoder doesn't handle multiple results"
Recently I made PR to make `MySQLCapabilities` available (#170).

Now we can use `CLIENT_MULTI_STATEMENTS`. However I found `MySQLPacketDecoder` doesn't support results of such queries.

The result packet of multi statements query contains the status flag `SERVER_MORE_RESULTS_EXISTS`, but the decoder doesn't read more.
So if we execute next query, it'll recieves invalid bytes previous query left.

[2018-06-08 07:08] tanner0101 commented on #172
Support for `caching_sha2_password` over _TLS_ has been added here  https://github.com/vapor/mysql/pull/176. Doing it over cleartext is much more involved and should be a separate issue.

[2018-06-09 08:06] vzsg commented on #164
Here's a simple test case:

[code]

In a default configuration (like brew's), iteration 16383 will throw an exception.

[2018-06-14 19:59] tanner0101 commented on #178
I think this package should support `SERVER_MORE_RESULTS_EXISTS` in a future update.

[2018-06-14 20:00] tanner0101 commented on #175
`QueueHandler` is no longer being used. See #176.

[2018-06-14 20:00] #175 closed

[2018-06-14 20:01] tanner0101 commented on #173
This will be available in `conn.lastMetadata` for 3.0.0.

[2018-06-14 20:01] #173 closed

[2018-06-14 20:01] tanner0101 commented on #173
(Related to #176)

[2018-06-14 20:02] tanner0101 commented on #172
Feel free to open a request for 8.0 `caching_sha2_password ` cleartext support if that's something that should be supported. (From what I can tell, no one is really using that).

[2018-06-14 20:02] #172 closed

[2018-06-14 20:04] tanner0101 commented on #168
IMO this should be done at a higher level But I'd be interested to see the argument for including in this package. Do other low-level MySQL libraries do this?

[2018-06-14 21:07] tanner0101 commented on #165
This should be a separate package, but keeping the issue open here as a reminder.

MySQL protocol X is completely different from previous protocols and is schema-less (NoSQL). It also takes advantage of protobuf, and https://github.com/apple/swift-protobuf will need to be used.

[2018-06-14 21:07] #164 closed

[2018-06-14 21:27] tanner0101 commented on #162
This package is now tested against MariaDB 10.3: https://github.com/vapor/mysql/pull/176/commits/d08732b9ec22dd4ea4b85057ee5d038008f30222

[2018-06-14 21:27] #162 closed

[2018-06-14 21:28] tanner0101 commented on #160
`utf8mb4` will be the default character set as of 3.0.0. Thanks!

[2018-06-14 21:28] #160 closed

[2018-06-14 21:28] tanner0101 commented on #158
This was fixed a while back. Thanks @mcdappdev!

[2018-06-14 21:28] #158 closed

[2018-06-14 21:29] tanner0101 commented on #154
I'll make sure this gets fixed in the docs, thanks!

[2018-06-14 21:29] #154 closed

[2018-06-14 21:29] tanner0101 commented on #153
A test has been added for this and since fixed.

[2018-06-14 21:29] #153 closed

[2018-06-15 01:19] t-ae commented on #168
[This library](https://github.com/novi/mysql-swift) handles time zone.
This approach is like [option 1 in the other issue](https://github.com/vapor/fluent/issues/464) and we encounter the `QueryBuilder.filter` problem.

[2018-06-15 06:27] vzsg commented on #164
🎉

[2018-06-20 06:22] frivas opened #185 "Create conveniences for the 'type' of MySQLDataType"
Hello,

As per the conversation in Discord.

it would be good to add some conveniences to the MySQLDataTypes used in the .field method in its parameter 'type'.

Thank you very much

[2018-06-21 17:43] tanner0101 opened #186 "not serializing CHARACTER SET before data type charset"
[code]

[2018-06-21 17:44] tanner0101 opened #187 "add more information to `fullAuthRequired` error"
This error should be more descriptive and explain a solution.

[code]

[2018-06-21 19:59] #186 closed

[2018-06-21 19:59] #185 closed

[2018-06-21 20:03] tanner0101 commented on #168
I'd be interested to know how `libmysql` is getting the timezone information (that's what the library you linked is using).

![screen shot 2018-06-21 at 4 01 39 pm](https://user-images.githubusercontent.com/1342803/41742578-78abb71c-756c-11e8-93f2-ae8986229186.png)

MySQL gives back a `MYSQL_TIME` struct which is formatted as shown above. As you can see, no timezone information is supplied as a pa

[2018-06-21 20:13] tanner0101 commented on #168
Ah, after looking into this more I see that MySQL is not capable of storing time zones _alongside_ the data. The server has a global time zone and that is it.

I also looked into [novi/mysql-swift](https://github.com/novi/mysql-swift) more and it seems like they are not actually fetching the MySQL Server's time zone. You set the time zone when you create a connection, and all `Date`'s created ther

[2018-06-21 20:18] tanner0101 opened #189 "optimize MySQLPacket coders with separate state"
Currently MySQLPacketEncoder and MySQLPacketDecoder share a single state enum for various query types. This creates issues with parsing EOF packets since the packet decoder may need to fire off an outgoing packet but maintain EOF state. Because state is shared, firing a decoding packet can cause the encoder to update state. This makes it difficult for MySQLPacketDecoder to reliably maintain its ow

[2018-06-21 20:18] tanner0101 commented on #178
This issue is related to https://github.com/vapor/mysql/issues/189. When the packet coder state is cleaned up, we should also add support for the more results query type.

[2018-06-21 21:07] #187 closed

[2018-06-23 01:44] frivas opened #193 "MySQLError.basicPacket: Unrecognized basic packet. When using a Docker MySQL container"
Hello,

The following error is thrown when using a MySQL docker container.

**Versions used:**
- MySQL 8.0.11 (created using: docker pull mysql/mysql-server:latest)
- Vapor 3.0.5
- Fluent 3.0.0-rc.4.0.2
- Fluent MySQL 3.0.0-rc.4.0.3
- SQL 2.0.0-beta.3

**Steps to reproduce:**

**1.-** ```$ docker run --name mysql -e MYSQL_USER=<user> -e MYSQL_PASSWORD=<password> -e MYSQL_DATABASE=<db> -p 3306:3306

[2018-06-29 13:24] patrick-zippenfenig opened #194 "UUID encoding to mysql reports: Incorrect string value"
I am trying to create entities with UUID, but mysql 5.7 returns ``Incorrect string value: '\xD8}U\x1F;A...' for column 'id' at row 1``. The table uses ``char(36)`` for uuids and ``utf8_general_ci``. Same issue for fetching UUIDs, but this time, the decoded UUID is just wrong.

If I modify convertToMySQLData to use the UUID string value, it works fine.
[code]

[2018-06-30 15:26] Jinxiansen opened #195 "Can't save empty or null object array --"
When I use `MySQLModel` to declare a 1 struct, there is a `hiTags` object, the server sometimes returns ```null```, sometimes returning an array of strings like `["xxxx","3k"]` or `[]` , which makes me annoyed, parsed At the time, the life is ` var hiTags: [String?]?`,
[code]
 it will crash when null appears, I don't know how to solve this problem.

---

This issue is basically the same as https:/

[2018-06-30 15:30] Jinxiansen commented on #195
@MihaelIsaev  Hi,this same question.

[2018-07-02 15:01] tierracero opened #196 "Raw query with empty result set throws MySQLError.lengthEncodedData error"
**im using**
mysql  Ver 14.14 Distrib 5.7.22, for Linux (x86_64) using  EditLine wrapper CENTOS
.package(url: "https://github.com/vapor/fluent-mysql.git", from: "3.0.0-rc"),
Vapor Toolbox: 3.1.6

When. I do a query and get ZERO ROWS I get this error:
  **MySQLError.lengthEncodedData: Could not parse length encoded data**
` router.post("test") { req -> HTTPResponse in
        let _ = req.requestPoo

[2018-07-03 09:15] patrick-zippenfenig commented on #194
Using ``String`` as an ID works. UUID requires ``varbinary(16)``

[2018-07-03 09:15] #194 closed

[2018-07-15 16:38] jdmcd opened #199 "Random `Connection is closed.` errors"
Every now and then, seemingly without pattern or especially heavy load, my production server will return a `Connection is closed.` response when trying to do database work. This happens regardless of the 1000 max connections configured per event loop and a total of 8000 connections available on the database. It occurs randomly and is hard to reproduce, but happens on multiple different routes. Thi

[2018-07-17 23:11] tanner0101 commented on #196
Fixed in https://github.com/vapor/mysql/pull/201, thanks!

[2018-07-18 00:48] mcdappdev commented on #199
Unfortunately it's returning 4 rows :( The route hits an external API for authentication and then once it receives an `OK` from that API it does:

[code]

[2018-07-18 01:41] Jinxiansen commented on #195
@tanner0101   No, this question hasn't been answered for a long time. I have already switched to PostgreSQL, which is basically the same bug as https://github.com/vapor/postgresql/issues/80.

[2018-07-18 01:42] #195 closed

[2018-07-18 13:03] mcdappdev commented on #199
For what it's worth, I'm now seeing this error propagate across various endpoints. I actually had to restart my servers to get the endpoint to serve data. MySQL database connections are sitting happily at 4 on AWS RDS 🤔

[2018-07-24 02:37] t-ae opened #203 "Memory leak of MySQLConenction?"
I'm not certain but I think there's memory leak of `MySQLConenction`.

[code]

[2018-07-24 16:14] grubicv opened #204 "Using no password with an account in MySQL causes this error"
https://github.com/vapor/mysql/blob/8717e4a6389ff1ff56801f4e6411309105945c62/Sources/MySQL/Connection/MySQLConnectionHandler.swift#L131

nil should be allowed here, so that we can use MySQL users that have no password (for example root with no password)

[2018-07-25 23:06] tanner0101 opened #206 "add performance benchmark for mysql row encoder / decoder"

[2018-07-26 17:48] tanner0101 opened #208 "add API for re-using prepared statement"

[2018-08-08 11:35] RyuX51 opened #209 ""certificate verify failed" for trusted certificate"
I've enabled TLS on our MYSQL database and try to connect to it. But this is only possible when selecting `unverifiedTLS` as transport. When selecting standardTLS or higher (TLS 1.2 is supported by the server), I'm getting `[Error: 335573126 error:14007086:SSL routines:CONNECT_CR_CERT:certificate verify failed]`. The cert is created with Let's Encrypt and should be trusted. OpenSSL lists the chain

[2018-08-10 09:25] Cellane opened #210 "`db.raw(_:).run()` times out on valid queries"
It looks like the `db.raw(_:).run()` method sometimes times out on valid queries. Sometimes, in this context, would be “always on certain queries, while other queries are always fine”.

For example, I wrote this raw query a few days ago, and it works without a problem:

[code]

However, when attempting to do a different `UPDATE` query today, I’m met with nothing but `Thread 1: Fatal error: Error r

[2018-08-14 00:08] foscomputerservices opened #211 "Implementation for deleteReference seems to be missing"
It doesn't appear that MySql is performing drop foreign key when requested to do so.

I have the following code, which is a secondary migration on a table.

[code]

Looking at the SQL generated during revert, I see the following:

[code]

When the next table, Promotion, is attempted to be deleted, I get the following and a crash: "Fatal error: 'try!' expression unexpectedly raised an error: ⚠️ MyS

[2018-08-22 00:21] t-ae opened #212 "Invalid values cause crash on MySQL with `withNewConnection`"
Moved from vapor repository.
https://github.com/vapor/vapor/issues/1782

If there's invalid value, like 3 for `Bool`, in DB, `MySQLError` will be throws while decoding.
However, if we are using `withNewConenction`, it triggers this `fatalError`.
https://github.com/vapor/mysql/blob/448f1ca28b3ea0f64a627bec22e5b0945d31b9f4/Sources/MySQL/Connection/MySQLConnection.swift#L120

Example:
[code]

[2018-09-26 05:11] ozitrance opened #215 "Errors related to Float80 when trying to compile on Raspberry Pi 3"
I am trying to compile a vapor project that uses this repository on a Raspberry Pi 3 (w/ Ubuntu 16.04) but it fails with the errors below.
I might be wrong but from what I was able to find, Float80 is not available for ARM-based platforms.

Is there a way to overcome this error?

Thanks in advance!

The errors I get are:
/home/xxx/yyy-master/.build/checkouts/mysql.git-1505813759/Sources/MySQL/Conn

[2018-11-13 07:20] 97mik opened #221 "Can't save model with empty array"
I have a Fluent MySQL model:
[code]
And when I am trying to save model with not empty array:
[code]
It is works.
But when I am trying to save same model with empty array (not nil):
[code]
Then I get crash in MySQLDataEncoder.swift file, at 11 line, with error message: "Unexpectedly found nil while unwrapping an Optional value".
And I found that the same issue was in postgresql: https://github.com/

[2018-11-15 08:18] cclion commented on #193
I also have this problem

[2018-11-26 07:20] chinabrant commented on #193
me too

[2018-11-26 10:28] 0xTim opened #218 "MySQLTime should provide a more concise description"
When converted to `String` via `.description`, `MySQLTime` gets the default description generated via `Mirror`, which looks like this: `MySQL.MySQLTime(year: 2018, month: 11, day: 26, hour: 4, minute: 19, second: 24, microsecond: 955255)`. This is considerably more verbose than it really needs to be under most circumstances and makes the values provided in e.g. a `DatabaseLog` more difficult to wo

[2018-12-05 22:56] #221 closed

[2018-12-05 23:04] tanner0101 commented on #193
As @frivas mentioned, the workaround for 8.0.4+ is to use `caching_sha2_password` over TLS. If `mysql_native_password` is required, you can use < 8.0.4 where that is the default. I'll look into finding a solution for this.

[2018-12-05 23:11] tanner0101 commented on #218
@0xTim LMK what you think of the fix in #222. It's a pseudo RFC 3339 format that doesn't require converting to/from `Swift.Date`.

[2018-12-11 22:24] #218 closed

[2018-12-17 16:08] eneko opened #223 ""Fatal error: Unexpected packet" when decoding key case does not match"
This error took me a while to figure out. The actually issue was on my end. I was doing a raw query for a field `driverref` when the `Codable` data structure receiving values had a `let driverRef: String` property. Note the difference between camel case and lowercase.

I decided to share it here to help other users that might be having the same issue, but also, in case there is a way to provide a

[2019-01-22 21:21] marekpridal opened #225 "Doesn't work with latest MySQL (8.0.13)"
Vapor seems to doesn't work with latest MySQL version (8.0.13). Downgrade to version 5.7 solved issue. On running with higher version, Vapor on start throws error.

[code]

More discussed in `#vapor-3` channel in Discord.

[2019-01-23 01:00] eneko commented on #225
@marekpridal Please see https://github.com/vapor/mysql/issues/193 for guidance on how to solve this issue. MySQL 8.0 introduces a new method for password encoding and it seems Vapor only supports the new method: https://github.com/vapor/mysql/issues/193

[2019-01-23 07:33] #225 closed

[2019-02-07 20:35] calebkleveter commented on #223
I created an example project that displays this problem. If you run the `GET /mysql-crash` route, you'll get the error.

https://github.com/calebkleveter/FluentMySQLCrash

[2019-02-07 22:59] #223 closed

[2019-02-07 23:12] eneko commented on #223
Thank you, guys!

[2019-03-11 17:35] calebkleveter opened #228 "Simple Query Logging"
When you can a query using `MySQLConnection.simpleQuery`, it is not logged if logging is enabled.It seems to me that those queries should be logged.

[2019-03-12 16:12] #228 closed

[2019-03-29 01:27] sorBhr opened #233 "Fatal error: Error raised at top level: ⚠️ MySQL Error: Unrecognized basic packet."
Fatal error: Error raised at top level: ⚠️ MySQL Error: Unrecognized basic packet.
- id: MySQLError.basicPacket

File: /Users/LX320_WebDB/.build/checkouts/mysql.git-2429711648121525365/Sources/MySQL/Pipeline/MySQLPacketDecoder.swift
 - func: decodeBasicPacket(ctx:buffer:capabilities:forwarding:)
 - line: 127
 - column: 29
: file /BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang_Fall2018/sw

[2019-04-03 21:44] tanner0101 commented on #233
This seems like a duplicate of https://github.com/vapor/mysql/issues/193. Let me know if that helps

[2019-04-03 21:44] #233 closed

[2019-04-19 09:48] sofbix opened #234 "2 async query in the transaction assertion: while handler is still: waiting"
We has 2 async query in the transaction and one should throw error.

Example:

[code]

That generated:

[code]

If would removed request.transaction and use request without connect then it works is fine

[2019-04-19 11:02] sofbix commented on #212
For using wait() I've made hack:

[code]

[2019-04-25 20:44] tanner0101 commented on #234
A limitation of MySQL 3.0 is that you must wait for the previous request to complete before sending another. Like this:

[code]

This limitation will be lifted in the next version.

[2019-04-25 20:44] #234 closed

[2019-05-01 14:29] calebkleveter opened #235 "`Incorrect arguments to mysqld_stmt_execute` on JSON Insert"
It appears that the driver is trying to insert the wrong kind of data into a cell when that cell's type is `json`. I get an error with the reason:

[code]

This is the raw query that is logged:

[code]

Here is an example app that I created that displays the issue: https://github.com/calebkleveter/MySQLIncorrectArguments

[2019-05-01 17:30] calebkleveter commented on #235
I think I found the issue. There is an initializer for `MySQLData` that takes in an `Encodable` value and converts it to JSON binary:

[code]

If I change the binary's type to `MYSQL_TYPE_STRING`, it works. Yeah, I have no idea why.

PR incoming.

[2019-05-01 21:31] #235 closed

[2019-08-12 12:04] jmarkstar commented on #215
I got that error on my ODROID XU4 too but I only changed `Float` by `Float80` in that class and it worked.

[2019-08-20 14:15] tanner0101 commented on #215
Fixed in 3.2.6, thanks!

[2019-08-20 14:15] #215 closed

[2019-11-16 07:43] anatoliykant opened #242 "Improve README"
There is a need to add at least a TL;DR README from https://docs.vapor.codes/3.0/mysql/getting-started/
Thx

[2019-11-19 02:40] MihaelIsaev opened #243 "Unable to decode when use table aliases"
@cweinberger on Discord([link](https://discordapp.com/channels/431917998102675485/602601128944861195/645940581562056714)) found that `MySQL` unable to decode columns if table alias was used in query.

This query works good
[code]
[code]

This doesn't work
[code]
[code]

[2019-12-05 09:28] florianreinhart opened #245 "Decoding JSON array"
It's currently not possible to decode a JSON array using `MySQLDataDecoder`.

Changing `MySQLDataDecoder.swift` from

[code]

to

[code]

fixes this.

[2019-12-10 00:54] #245 closed

[2019-12-19 13:12] nick3389 commented on #193
@tanner0101 I have the same issue when trying connecting to an azure database with .unverifiedTLS. Is there any progress with this issue? I use FlunetMySQLDriver for the mysql database.

[2019-12-27 19:12] florianreinhart opened #252 "Custom JSONDecoder"
It should be possible to specific a custom JSONDecoder (ideally per column) for decoding.

In my database there is a JSON column that contains `Date` values encoded as Unix timestamps.

[2020-01-02 12:58] JinfeiChen commented on #193
how to solve this problem?

[2020-01-06 09:27] JinfeiChen commented on #233
I also have this problem

[2020-02-14 18:27] SafoSnep opened #255 "Decoding rows with null values to optionals fails"
I'm having some trouble with a query returning values that are possibly `null` in the database.

[code]
[code]

If any of the queried rows has `null` as its name, instead of creating a `Person` with `nil` as the name, `[ ERROR ] The data couldn’t be read because it isn’t in the correct format` is printed in the Xcode console.

The HTTP response's reason for the error is `Value of type 'String' req

[2020-02-14 22:30] #255 closed

[2020-02-22 09:05] anmolrajpal opened #258 "'SQLEnumSyntax' and 'SQLAlterTableSyntax' missing in MySQL-kit 4.0.0-beta.3.3"
![Screenshot 2020-02-22 at 2 29 49 PM](https://user-images.githubusercontent.com/53750739/75089580-3a450c80-5580-11ea-8d6e-397a3986317a.png)

[code]

[2020-02-22 10:08] anmolrajpal opened #259 "Value of type 'DatabaseQuery' has no member 'idKey' - FluentMySQLDriver 4.0.0-beta.3"
![Screenshot 2020-02-22 at 3 36 04 PM](https://user-images.githubusercontent.com/53750739/75090479-513c2c80-5589-11ea-8f5e-ef282483836c.png)

[2020-02-24 17:32] tanner0101 commented on #258
Running `swift package update` should fix this.

[2020-02-24 17:32] #258 closed

[2020-02-26 20:29] tanner0101 commented on #259
Running `swift package update` or Xcode > Swift Packages > Update to latest should fix this.

[2020-02-26 20:29] #259 closed

[2020-03-25 12:35] RafaelPlantard opened #266 "Invalid MYSQL_TIME length."
I have saved a TIME for my MySQL, but when I'm trying to select the same table I'm receiving the following throw:
`throw MySQLError(identifier: "timeLength", reason: "Invalid MYSQL_TIME length.")`
The timeLenght is `8`! For the following value, sounds correct to me: 08:00:00.
Can you help me please?
I have already removed this field from my Swift object, but even though the decode is still trying

[2020-03-25 16:20] tanner0101 commented on #266
Which version of this package are you using?

[2020-03-26 00:06] RafaelPlantard commented on #266
Last available version of Vapor 3.
That’s 3.3.1

[2020-03-29 10:24] 8secz-johndpope opened #268 "Enhancement - consider adding in mysql-event hooks"
this can give mysql a reactive style callback

https://github.com/rodrigogs/mysql-events
https://github.com/nevill/zongji

[2020-04-03 07:41] TomShen1234 opened #269 "FluentMySQLDriver crashes when saving dates"
### Steps to reproduce

Just create a model that saves dates to the database (see sample codes), and GET informations from the database (`Todo.query(...)`). This code came from the template with little modifications (created with `vapor new Test --branch=4`).

[code]

[code]

The entry is added with the following JSON:
[code]

### Expected behavior

Returns queried results.

### Actual behavior

T

[2020-04-04 01:00] TomShen1234 commented on #269
@tanner0101 yep. Tried that. It works.

[2020-04-04 08:17] TomShen1234 opened #270 "MySQL cannot save long strings (over 252 chars long)"
Found another bug related to MySQL

Posting this directly here because it's related to MySQL (where my previous unrelated issue has been migrated to).

MySQL supports the `TEXT` data type for storing extra long strings. I can access it in Fluent by using `.custom("text")` during migration. Fluent is able to read from and write to it fine, with a caveat: the content cannot be over 252 characters lo

[2020-04-09 14:36] pikkart opened #271 "MariaDB cannot hydrate and/or dehydrate bool values"
It seems that mysql-kit 4.0.0-rc.1.3 is not able to handle boolean values, at least with MariaDB

**Environment**
* Docker version 19.03.5, build 633a0ea
* MariaDB: 10.4.12-MariaDB-1:10.4.12+maria~bioni
* Database Collation: utf8mb4_bin
* Database Charset: utf8mb4
* Package.resolved: [Package.resolved.txt](https://github.com/vapor/mysql-kit/files/4456731/Package.resolved.txt)

**Reproduce by**
`va

[2020-04-11 04:04] sebleclerc opened #272 "Build error on Swift CLI project"
I'm creating a CLI tool using Swift and I need to query a MySql DB locally. I tried to add this packages as a dependency to my project but build fail.

I did add the latest `libressl` with brew, updated search path as directed from #6 but I still get this error:

[code]

Is this package should work outside of Vapor? Thanks! :)

[2020-04-13 11:05] 0xTim commented on #272
@sebleclerc you also need to install `pkg-config`

[2020-04-13 12:58] sebleclerc commented on #272
@0xTim From the output of `brew list` I see pkg-config installed. And `pkg-config --version` is 0.29.2

[2020-04-14 10:49] 0xTim commented on #272
@sebleclerc if you remove the linker settings does it now work? IIRC the linker settings will override all settings so that pkg-config won't pick it up

[2020-04-14 19:09] sebleclerc commented on #272
@0xTim Ok I managed to have it compiling. Seems like generating the Xcode project from swift command line works better than create the project from Xcode.

Now... I need to find out how to query my database from a `MySQLDatabase` object

[2020-04-15 03:12] #272 closed

[2020-04-16 15:35] tanner0101 commented on #270
My guess is this is related to `TEXT`, I'd recommend trying `VARCHAR` as a workaround. I'll make sure this gets fixed before final release, thanks.

[2020-04-17 11:48] TomShen1234 commented on #270
@tanner0101 Thanks for the response, the same error happens to `VARCHAR` type as well. Which makes me think that this is an error in creating the SQL command rather than a database issue?

[2020-04-25 07:01] TomShen1234 commented on #269
Looks like `mysql-nio 1.0.0-rc.1.3` fixes this issue.

[2020-04-25 07:01] #269 closed

[2020-04-30 12:30] florianreinhart opened #275 "Cannot decode String from extracted JSON value"
When I extract a string from a JSON column, it cannot be decoded using `SQLRow.decode(...)`. The thrown error is: `Could not convert to String: <MYSQL_TYPE_LONG_BLOB>`.

It looks like the MySQL type for extracted strings is `MYSQL_TYPE_LONG_BLOB` and not `MYSQL_TYPE_VAR_STRING` as for regular VARCHAR columns.

The following code reproduces this issue:

[code]

[2020-05-01 14:36] #275 closed

[2020-05-18 15:01] jaredanderton opened #278 "Error when selecting from database"
Hello,
I am new to Vapor and running into some odd issues when I try to select from a MySQL database. It works locally (on OSX), but it does not work when I deploy to a prod environment.

In production, my docker container is running on a host in AWS EC2, connecting to an RDS instance. My other containers (which are not vapor 4.0) on the host can connect. Also, this is not a connection issue, I ha

[2020-05-18 15:03] jaredanderton commented on #278
Sorry probably opened this is the wrong place.  Moved to:
https://github.com/vapor/fluent-mysql-driver/issues/177

[2020-05-18 15:03] #278 closed

[2020-06-06 17:45] pankajsoni19 opened #279 "SimpleQuery fails decoding data version : +3.0.0"
I am connecting to MySql server running on top of ClickHouse DB.

[code]

however it the code just loops on needMoreData

[2020-06-06 21:24] pankajsoni19 commented on #279
MySQL packet boundary is multiple of 2.
I am getting a packet for column entry for 28 bytes but data ends at 27 bytes. there is a padding of empty 0 byte in the end which is causing issue, as trailing data is not cleared. This can cause serious issues at runtime.

[2020-06-06 21:25] pankajsoni19 commented on #279
wireshark

[code]

[2020-06-10 19:34] tanner0101 opened #283 "conversion error should include data in question"
This error should also include the data being converted to help debug. For example, the data for the above error contained a MYSQL_TYPE_INT which would have been helpful to know.

[2020-07-13 21:08] tanner0101 commented on #279
Could you try using `query` instead of `simpleQuery` and see if the issue persists?

I'm unfortunately not able to repro this with the info here. More information would help. A `.pcap` file for replaying the session would probably do it if you already have wireshark setup.

The best way to repro would be a small project that exhibits the bug that I can dig into.

[2020-07-14 01:52] pankajsoni19 commented on #279
This was for connecting with Clickhouse Server. It doesn't support parameterised queries. Thus the reason to use simpleQuery.
I have since switched to using Rest protocol since I couldn't fix the sql driver easily.

[2020-07-14 01:52] #279 closed

[2020-07-23 17:35] tanner0101 commented on #189
This was done in MySQLNIO 1.0.0

[2020-07-23 17:35] #189 closed

[2020-07-23 17:41] tanner0101 commented on #193
Moving here: https://github.com/vapor/mysql-nio/pull/20

Until that is merged, Vapor's MySQL only supports `caching_sha2_password` over TLS.

[2020-07-23 17:41] #193 closed

[2020-07-23 17:42] #199 closed

[2020-07-23 17:42] #203 closed

[2020-07-23 17:53] tanner0101 commented on #204
Passing an empty string should work. Going forward, MySQLNIO 1.0.0 will allow `nil` here.

[2020-07-23 17:53] #204 closed

[2020-07-23 17:55] #209 closed

[2020-07-27 20:53] tanner0101 commented on #212
This has been fixed in MySQLNIO 1.0.0.

[2020-07-27 20:53] #212 closed

[2020-07-27 20:55] tanner0101 commented on #242
This package is built on `SQLKit` which is now documented in its README: https://github.com/vapor/sql-kit

This package's README should reference that one and include information specific to configuring a MySQL connection pool.

[2020-07-27 20:56] #243 closed

[2020-07-27 21:36] tanner0101 commented on #252
Fixed here: https://github.com/vapor/mysql-kit/pull/285, thanks!

Side note, if you're using Fluent, you can use `@Timestamp`with `.unix` format to parse this without needing to configure a custom JSON coder: https://docs.vapor.codes/4.0/fluent/model/#timestamp-format

[code]

[2020-07-27 21:36] #252 closed

[2020-07-28 19:07] #283 closed

[2020-07-28 19:30] #242 closed

[2020-07-28 19:30] tanner0101 commented on #242
Added, thanks!

[2020-08-01 09:21] milkcocoa opened #289 "Support encoding, and collation for database, table, and column"
Hi! MySQL supports encoding, and collation for each database, table, and column. Is there any plan to support them?

For example, in Ruby on Rails, `database.yml` application-wide configuration sets the database encoding, and collation, and in the migration file, `option` parameter of the `create_table` method sets the table ones, and also each column has `encoding`, and `collation` option to set

[2020-08-06 20:39] tanner0101 commented on #289
Hi @milkcocoa, thanks for the feature request. If I understand correctly, there are two separate issues here:

### 1: Configuring character set for a given MySQL connection.

When connecting to a MySQL server, the client must send the default character set it wishes to use. This currently [defaults to `.utf8mb4`](https://github.com/vapor/mysql-nio/blob/master/Sources/MySQLNIO/MySQLConnectionHandle

[2020-08-10 12:50] bottlehall opened #290 "`.text` creates a VARCHAR(255) column"
I am trying to store text of approximately 600-1k characters. Using a field definition, such as:

[code]

Creates the usual `VARCHAR(255)` column in the MySQL data table. This results in the INSERT crashing because the data is too long.

I have tried putting an explicit definition in the `Migration` to use a TEXT column type as follows:

```.field("role", .sql(.text))```

However, in MySQLDialect.

[2020-08-10 17:05] milkcocoa commented on #289
Hi @tanner0101, thanks for replying to my request, and your understand is correct. There are two separate issues.

For the first issue, if `MySQLConfiguration struct` provides the configurations, that would be great!

For the second, I think **Database** issue is resolved by the first connection issue.

About **Table**, and **Column**, it makes sense that Fluent doesn't have the Fluent-wide resolu

[2020-08-13 17:47] tanner0101 commented on #290
@bottlehall you can use `.sql(raw: "TEXT")` if you want specifically the `TEXT` datatype. AFAIK `VARCHAR(255)` is still the recommended column type for "normal length" strings. In other words, a good fit for Fluent's `.string` data type. However, I agree that `.sql(.text)` should probably translate to using `TEXT` in MySQL. It's a bit weird that would also use `VARCHAR(255)`.

[2020-08-13 17:48] tanner0101 commented on #290
Let me know if that seems right and if you'd like to submit a PR. Otherwise I will, thanks!

[2020-08-13 17:52] tanner0101 commented on #289
@milkcocoa sounds good. Do you want to open the separate issues?

1: Configuring character set for a given MySQL connection (vapor/mysql-nio first).
2: Convenience APIs for configuring character set for database, tables, and columns (vapor/fluent-mysql-driver).

Also let me know if you want to provide PRs. Otherwise I will grab them eventually. Thanks!

[2020-08-14 06:47] bottlehall commented on #290
@tanner0101, thanks. I will do a PR in the next few days.

[2020-08-15 20:02] milkcocoa commented on #289
OK. I've split this into https://github.com/vapor/mysql-nio/issues/55 and https://github.com/vapor/fluent-mysql-driver/issues/194.

Also I'll take a look at the codes, and provide PRs if I can.

[2020-08-15 20:02] #289 closed

[2020-08-20 17:55] bottlehall commented on #290
Tried doing a PR but it has errors during testing. Haven't checked them all exhaustively but this is indicative:

"MySQL error: Server error: BLOB, TEXT, GEOMETRY or JSON column 'name' can't have a default value"

[2020-08-20 19:04] bottlehall commented on #290
Error above arises because SQLBenchmarker+Planets.swift creates a test table with a 'name' field that is type `.text`. I think the test is wrong because the context of this field is `.string` rather than `.text`.

[2020-08-20 19:24] tanner0101 commented on #290
Hmm... that's unfortunate. The easiest fix would be to check if `db.dialect.name == "mysql"` and use `VARCHAR(255)` explicitly. We can merge that through first then tests should pass for https://github.com/vapor/mysql-kit/pull/291.

Going forward, maybe some method for getting a "best fit" type for a Swift type  (like `bestDataType<T>(for: T.Type)`) would be useful to add to `SQLDialect`. Then we

[2021-02-03 19:17] pankajsoni19 opened #295 "Crash on any mysql query"
mac os 11.1, Xcode Version 12.4 (12D4e)

xcode hits this breakpoint.  NIO  > EventLoop > Line 684. screenshot attached.
![Screenshot 2021-02-04 at 12 45 38 AM](https://user-images.githubusercontent.com/6102289/106797204-52734600-6682-11eb-9305-6ed172a57eef.png)

package.resolved:

[Package.resolved-1.txt](https://github.com/vapor/mysql-kit/files/5920904/Package.resolved-1.txt)

[code]

[2021-02-03 19:51] pankajsoni19 commented on #295
Incorrectly filed. This issue is in vapor itself. Server sending back any response causes it to crash.

[2021-02-03 19:51] #295 closed

[2021-12-31 13:55] Rakan-123 opened #303 "Rakan"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Add package with configuration '...'
2. Send request with options '...'
3. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Environment

* Vapor Framework version:
* Vapor Toolbox version:
* OS version:

### Additiona

[2021-12-31 13:55] #303 closed

[2022-05-02 21:19] crontab opened #306 "Question: how are broken connections handled by the pool?"
Let's say for whatever reason the MySQL server drops a connection with the client, while it is in the pool on the SwiftNIO side. Some SwiftNIO handler requests a connection from the pool and gets a non-functioning connection that will likely return an error pretty soon. How are this type of situations handled by mysql-kit  (or the underlying mysql-nio module)?

In other words, how are connections

[2022-06-06 14:07] 0xTim commented on #306
I believe this was solved [on the forums](https://forums.swift.org/t/how-do-connection-pools-handle-broken-connections/57111). Feel free to reopen if there are still unanswered questions!

[2022-06-06 14:16] crontab commented on #306
Unfortunately it wasn't solved, though some minimal discussion did take place there.

Plus my question was quite specific: does MySQLKit have any keep-alive mechanisms in place that would make the connection pool more reliable? I know I should probably study the MySQLNIO sources and find out myself, I just thought someone already knows.

[2022-06-06 14:34] 0xTim commented on #306
No MySQLKit uses AsyncKit's [ConnectionPool](https://github.com/vapor/async-kit/tree/main/Sources/AsyncKit/ConnectionPool) which has no concept of a keep alive, so I believe MySQL does nothing for this. cc @gwynne

[2022-09-08 02:09] mannuch opened #311 "Hostname Validation Error"
Hello! I'm developing a Vapor app using [Planetscale](https://planetscale.com) (serverless MySQL) as my database. In running my application, I receive a `NIOSSLExtraError.failedToValidateHostname: Couldn't find <none> in certificate from peer` error.

I am using the default TLS configuration in connecting to the database, with my app's database configuration step being:
`app.databases.use(try .mys

[2022-10-09 14:57] ijry opened #312 "hard to use in readme's code such as ..."
a full example code is better

[2022-10-10 16:21] 0xTim commented on #312
What is missing for you?

[2022-10-28 11:56] pwascheul commented on #312
@0xTim I share the request, a full example of integrated MySQL-kit would be great. all functions, handlers are described but give me gray hairs to put everything together , I should admit that I am also quite amateur in swift which does not help. was looking to create a small macOS app to fill personal need.
eg: I would like to see how to manage the MySQLConfiguration and dependencies for the Conn